<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3 uk-heading-bullet uk-padding-small">{{title}}</h1>
        <!--<hr class="uk-divider-small">-->


        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">

              <div *ngIf="requestType && (requestType.length > 0)">
                <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
                <!--<div *ngIf="showSpinner" class="uk-inline uk-position-center uk-padding-large-top">-->
                  <!--<div class="uk-overlay-default uk-position-cover"></div>-->
                  <!--<div uk-spinner="ratio: 2" class="uk-overlay uk-dark"></div>-->
                <!--</div>-->
                <div *ngIf="newRequestForm && currentUser && projects" [formGroup]="newRequestForm" class="uk-form-horizontal">
                  <fieldset data-uk-margin>
                    <legend class="uk-margin-medium-bottom">Συμπληρώστε την παρακάτω φόρμα για να εξεταστεί το αίτημά σας για χρηματοδότηση:</legend>
                    <div class="uk-margin">
                      <label class="uk-form-label" for="request-name">Από <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <div class="uk-grid uk-width-1-1">
                          <div class="uk-width-1-2@s">
                            <input class="uk-input" type="text" placeholder="Oνοματεπώνυμο" id="request-name"
                                   formControlName="name">
                          </div>
                          <div class="uk-width-1-2@s">
                            <select class="uk-select" id="request-position" formControlName="position">
                              <option value="">-- επιλέξτε θέση στον φορέα --</option>
                              <option value="Ερευνητής-ΕΛΕ">Ερευνητής-ΕΛΕ</option>
                              <option value="Συνεργαζόμενος Ερευνητής">Συνεργαζόμενος Ερευνητής</option>
                              <option value="Διοικητικό Προσωπικό">Διοικητικό Προσωπικό</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="uk-margin">
                      <label class="uk-form-label" for="request-program">Επιλέξτε έργο <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <input class="uk-input" type="text" id="request-program"
                               (keyup)="updateSearchTerm($event)"
                               formControlName="program">
                        <div class="uk-comment-body uk-text-small uk-text-muted">
                          <i>Ξεκινήστε να γράφετε το όνομα του έργου και επιλέξτε το από την λίστα που θα εμφανιστεί.</i>
                        </div>
                        <div *ngIf="searchTerm && searchTerm.length > 2" class="uk-nav uk-padding-small uk-width-large uk-position-absolute" style="background-color: white">
                          <ul>
                            <li *ngFor="let project of projects | filterByTerm: searchTerm">
                              <a (click)="updateProgramInput(project)">{{project}}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--<ng-container *ngIf="prog.value!=''">-->
                    <div class="uk-margin">
                      <label class="uk-form-label" for="request-institute">Ινστιτούτο / Μονάδα <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <input class="uk-input" id="request-institute" formControlName="institute" placeholder="Institute">
                      </div>
                    </div>
                    <div class="uk-margin">
                      <label class="uk-form-label" for="request-to">Προς <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <div class="uk-width-1-1">
                          <div class="uk-width-1-1@s">
                            <input class="uk-input uk-disabled" type="text" id="request-to"
                                   formControlName="director">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="uk-margin">
                      <label class="uk-form-label" for="request-text">Θέμα <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <div class="uk-width-1-1">
                          <div class="uk-width-1-1@s">
                              <textarea class="uk-form-help-block uk-text-small uk-width-1-1 uk-height-small" id="request-text"
                                        formControlName="requestText"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="checkIfTrip()" class="uk-margin">
                      <label class="uk-form-label" for="request-supplier">Προμηθευτής
                        <span *ngIf="isSupplierRequired === true" class="uk-display-inline">(*)</span>
                      </label>
                      <div class="uk-form-controls">
                        <div class="uk-width-1-1">
                          <div class="uk-width-1-1@s">
                            <input class="uk-input" type="text" placeholder="" id="request-supplier"
                                   formControlName="supplier">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="checkIfTrip()" class="uk-margin">
                      <label class="uk-form-label" for="request-ssm">Τρόπος επιλογής προμηθευτή <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <select class="uk-select" id="request-ssm"
                                formControlName="supplierSelectionMethod" (change)="checkIfSupplierIsRequired()">
                          <option value="">-- επιλέξτε τρόπο --</option>
                          <option *ngFor="let sel of selMethods" value="{{sel}}">{{sel}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="uk-margin">
                      <label class="uk-form-label" for="request-amount">Ποσό (σε EUR) <span>(*)</span></label>
                      <div class="uk-form-controls">
                        <div class="uk-width-1-1">
                          <div class="uk-width-small">
                            <input class="uk-input" type="text" id="request-amount"
                                   formControlName="amount" placeholder="0" (keyup)="showAmount()" (focus)="newRequestForm.get('amount').markAsUntouched()">
                          </div>
                          <div class="uk-comment-body uk-text-small uk-text-muted">
                            <i>Ο δεκαδικός αριθμός θα πρέπει να είναι της μορφής: <b>1111.11</b></i>
                          </div>
                          <div *ngIf="newRequestForm.get('amount').invalid && newRequestForm.get('amount').touched && newRequestForm.get('amount').dirty"
                               class="uk-comment-body uk-text-small uk-text-danger">
                            Ο αριθμός δεν είναι έγκυρος.
                          </div>
                          <div *ngIf="requestedAmount"
                               class="uk-comment-body uk-text-small uk-text-muted">
                            Το ποσό είναι: {{ requestedAmount | currency: 'EUR': 'symbol-narrow' }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="uk-margin">
                      <div class="uk-form-controls uk-form-controls-text">
                        <app-stage-form-upload-file (emitFile)="getUploadedFile($event)"></app-stage-form-upload-file>
                      </div>
                    </div>

                    <div class="uk-margin-medium-top">
                      <div class="uk-form-controls">
                        <div class="uk-width-1-1">
                          <div class="uk-width-1-2@s uk-align-left">

                            <button class="uk-button uk-button-primary" (click)="submitRequest()" type="button" style="width: 200px">Υποβολή</button>
                            <!--<button uk-toggle="target: #my-id" type="button">Υποβολή</button>-->

                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>

                </div>
              </div>

            </div>

            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>
