<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-expand">
    <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3 uk-heading-bullet uk-padding-small">
          Αίτημα {{currentRequest ? currentRequest.id : ''}}
          <span *ngIf="currentRequest" class="uk-text-small">[{{ reqTypes[currentRequest.type] }}]</span></h1>

        <!-- TODO: activate printing functionality -->
        <!--<button class="uk-button uk-button-small" (click)="printRequest()">Εκτύπωση</button>-->

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">
              <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
              <div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
              <div *ngIf="notFoundMessage" class="uk-alert">{{ notFoundMessage }}</div>

              <div id="printable-section"
                   *ngIf="!showSpinner && currentRequestApproval &&
                          currentRequest &&
                          currentRequest.user &&
                          currentRequest.project &&
                          currentRequest.stage1 &&
                          (canEdit === true || canEdit === false)">

                <!--1st stage-->

                <div *ngIf="(currentRequestApproval.stage !== '1') || (canEdit) === false" class="submittedRequest">
                  <div class="uk-margin-bottom uk-width-1-1 uk-grid">
                    <div class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Πρόγραμμα: </span>
                      <span>{{ currentRequest.project.acronym }} ({{currentRequest.project.institute.name}})</span>
                    </div>
                    <div class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Ημερομηνία υποβολής: </span>
                      <span>{{ currentRequest.stage1.requestDate | date : 'dd-MM-yyyy' }}</span>
                    </div>
                    <div class="uk-width-1-1@l">
                      <span class="uk-text-bold uk-margin-small-right">Από: </span>
                      <span>
                      {{ currentRequest.user.firstname }} {{ currentRequest.user.lastname }}
                       ({{ currentRequest.requesterPosition }})
                      </span>
                    </div>

                    <div *ngIf="(currentRequest.type !== 'trip') &&
                                (currentRequest.type !== 'contract') &&
                                (currentRequest.type !== 'services_contract')" class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Προμηθευτής: </span>
                      <span>{{ currentRequest.stage1.supplier }} ({{ currentRequest.stage1.supplierSelectionMethod }})</span>
                    </div>
                    <div class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Ποσό: </span>
                      <span>{{ currentRequest.stage1.amountInEuros | currency: 'EUR': 'symbol-narrow' }}</span>
                    </div>

                    <div class="uk-width-1-1@l">
                      <span class="uk-text-bold uk-margin-small-right">Θέμα:</span>
                      <span>{{ currentRequest.stage1.subject }}</span>
                    </div>

                    <div *ngIf="currentRequest.stage1.attachment">
                      <a class="uk-link uk-width-1-1@l uk-margin-small-top" (click)="linkToFile()">
                        Πατήστε εδώ για να κατεβάσετε τα σχετικά αρχεία
                      </a>
                    </div>

                  </div>
                </div>

                <!-- stage 1 form -->
                <div *ngIf="willShowStage('1') === 1">
                  <stage1-form [currentRequest]="currentRequest"
                               (emitFile)="getUploadedFile($event)"
                               (emitRequest)="getUpdatedRequest($event)"></stage1-form>
                </div>


                <!--end of 1st stage-->


                <!-- Submitted stages display -->
                  <hr>

                  <div *ngIf="!isSimpleUser &&
                              ( (currentRequestApproval.stage2 && currentRequestApproval.stage2.date) ||
                              ( (currentRequestApproval.stage === '2') && ((canEdit === true) || userIsAdmin())) )">
                      <h4>Ανάληψη υποχρέωσης δαπάνης</h4>
                  </div>

                <!-- PHASE 1  -->
                <div class="uk-child-width-expand uk-grid" uk-grid
                     *ngIf="((currentRequestInfo['2'].showStage > 1) ||
                             (currentRequestInfo['3'].showStage > 1) ||
                             (currentRequestInfo['4'].showStage > 1) )">

                  <stage2-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['2'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stage2, currentRequestInfo: currentRequestInfo}"></stage2-component>

                  <stage3-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['3'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stage3, currentRequestInfo: currentRequestInfo}"></stage3-component>

                  <stage4-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['4'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stage4, currentRequestInfo: currentRequestInfo}"></stage4-component>

                </div>



                <div class="uk-child-width-expand uk-grid" uk-grid
                     *ngIf="((currentRequestInfo['5a'].showStage > 1) ||
                             (currentRequestInfo['5b'].showStage > 1) ||
                             (currentRequestInfo['6'].showStage > 1) )">

                  <stage5a-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                     *ngIf="currentRequestInfo['5a'].showStage > 1"
                                     [data]="{currentStage: currentRequestApproval.stage5a, currentRequestInfo: currentRequestInfo}"></stage5a-component>

                  <stage5b-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                     *ngIf="currentRequestInfo['5b'].showStage > 1"
                                     [data]="{currentStage: currentRequestApproval.stage5b, currentRequestInfo: currentRequestInfo}"></stage5b-component>

                  <stage6-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['6'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stage6, currentRequestInfo: currentRequestInfo}"></stage6-component>

                </div>


                  <!-- Create/Edit pending stage -->
                  <div class="uk-margin-medium-top" *ngIf="(currentRequestApproval.stage !== '1') &&
                                                         (currentRequestInfo[currentRequestApproval.stage].showStage === 1)">
                      <!--<hr>-->

                      <app-stage-loader [stages]="stageLoaderItemList"
                                        (emitGoBack)="getRequestToGoBack($event)"
                                        (emitStage)="getSubmittedStage($event)"
                                        (emitFile)="getUploadedFile($event)"
                                        (newValues)="getNewSupplierAndAmount($event)"></app-stage-loader>

                  </div>

                <!-- Message to a simpleUser -->
                <div *ngIf="isSimpleUser && (currentRequestApproval.stage !== '1')" class="uk-alert uk-alert-primary uk-text-center uk-margin-top">
                  Το αίτημά σας {{ stateNames[currentRequest.requestStatus] }}
                    <!-- TODO: add message about payments?? -->
                </div>

                <hr>
                <div *ngIf="!isSimpleUser &&
                            (currentRequestApproval.status === 'accepted') &&
                            (currentRequest.type !== 'contract')" class="uk-margin-top">

                    <!-- Create Payment button -->
                    <div *ngIf="(!currentRequestPayments || (currentRequestPayments.length === 0)) &&
                                ((canEdit === true) || userIsAdmin()  )"
                         class="uk-margin-top">

                        <button class="uk-button uk-button-primary"
                                (click)="createRequestPayment()">Προσθήκη Περαίωσης</button>
                    </div>

                    <div *ngIf="(currentRequestPayments && (currentRequestPayments.length > 0))">

                      <!-- Link to Payment -->
                      <div *ngIf="currentRequest.type !== 'services_contract'">
                          <a [routerLink]="['/requests/request-stage-payment', currentRequestPayments[0].id]">Προβολή Περαίωσης</a>
                      </div>

                      <!-- Payments list -->
                      <div *ngIf="(currentRequest.type === 'services_contract')">
                        <div>
                            <h4>Περαιώσεις του αιτήματος</h4>
                          <div class="uk-width-1-1 uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-top uk-margin-bottom">
                            <table class="uk-table uk-table-hover uk-table-divider">
                              <thead>
                                <tr>
                                  <th>Ημερομηνία Δημιουργίας</th>
                                  <th>Στάδιο</th>
                                  <th>Κατάσταση</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="uk-link" *ngFor="let payment of currentRequestPayments"
                                    [routerLink]="['/requests/request-stage-payment', payment.id]"
                                    title="Μετάβαση στην σελίδα της περαίωσης">
                                  <td>{{ payment.creationDate }}</td>
                                  <td>{{ payment.stage }}</td>
                                  <td>{{ getStatusAsString(payment.status) }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <div *ngIf="( (canEdit === true) || userIsAdmin() )">
                          <button (click)="createRequestPayment()">Προσθήκη Νέας Περαίωσης</button>
                        </div>
                      </div>
                    </div>


                </div>


              </div>
            </div>

            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>
