<div *ngIf="showStage > 0" class="uk-width-1-1 uk-margin-bottom">
    <!--<hr>-->

    <!-- STAGE RESULT DISPLAY -->
    <div *ngIf="showStage > 1" class="uk-form-controls">
        <!--<h5>{{ stageTitle }}</h5>-->
        <div>
            {{ submittedStageResult }} ({{ getDelegateName() }})
            στις {{ currentStage['date'] | date : 'dd-MM-yyyy' }}
        </div>
        <div *ngFor="let desc of stageFields" class="uk-grid uk-margin-small-top">
            <div *ngIf="desc.type === 'checkbox'" class="uk-width-expand">
                <span>
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                         style="border: solid 1px lightgray; border-radius: 2px">
                        <polyline *ngIf="currentStage[ desc.id ]" fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline>
                    </svg>
                </span>
                <label class="uk-width-1-3  uk-margin-small-left">{{ desc.label }}</label>
            </div>
            <div *ngIf="(desc.type === 'text') && currentStage[ desc.id ]">
                <label class="uk-width-1-3">{{ desc.label }}</label>
                <div  class="uk-width-expand">
                    <input value="{{ currentStage[ desc.id ] }}" disabled
                           class="uk-form-controls uk-input" type="text">
                </div>
            </div>
            <div *ngIf="(desc.type === 'textarea') && currentStage[ desc.id ]">
                <span class="uk-text-bold uk-margin-small-right">{{ desc.label }} </span>
                <span> {{ currentStage[ desc.id ] }} </span>
            </div>
        </div>
        <div *ngIf="currentStage['attachment']">
            <a class="uk-link uk-width-1-1@l uk-margin-small-top" (click)="linkToFile()">
                Πατήστε εδώ για να κατεβάσετε τα σχετικά αρχεία
            </a>
        </div>
    </div>

    <!-- STAGE FORM -->
    <div *ngIf="(showStage === 1) && stageForm" [formGroup]="stageForm" class="uk-form-controls stageForm">
        <h5>{{ stageTitle }}</h5>

        <div *ngIf="stageFormError" class="uk-alert uk-alert-danger">{{ stageFormError }}</div>

        <!-- FORM CONTROLS -->
        <div *ngFor="let desc of stageFields">
            <app-stage-form [description]="desc">
                <div *ngIf="desc.type === 'checkbox'" class="uk-width-expand">
                    <input formControlName="{{ desc.id }}"
                           class="uk-form-controls uk-checkbox" type="checkbox">
                </div>
                <div *ngIf="desc.type === 'text'">
                    <input formControlName="{{ desc.id }}"
                           class="uk-form-controls uk-input" type="text">
                </div>
                <div *ngIf="desc.type === 'textarea'">
                    <textarea formControlName="{{ desc.id }}"
                              class="uk-form-controls uk-textarea" rows="2"></textarea>
                </div>
            </app-stage-form>
        </div>

        <!--ATTACHMENT FIELD-->
        <app-stage-form-upload-file [uploadedFilename]="uploadedFilename" (emitFile)="getAttachmentInput($event)"></app-stage-form-upload-file>

        <!--BUTTONS-->
        <div *ngIf="stageId !== '6' && stageId !== '11'">
            <button class="uk-button uk-button-primary" (click)="approveRequest(true)">Εγκρίνεται</button>

            <!-- NOT USED ANYMORE -->
            <!--<button *ngIf="willShowButtonTo5a"
                    class="uk-button uk-button-primary" (click)="forwardRequest('5a', true)">Προωθείται προς τον Γενικό Διευθυντή</button>
            <button *ngIf="willShowButtonTo5b"
                    class="uk-button uk-button-primary" (click)="forwardRequest('5b', willShowButtonTo5a)">
                {{ willShowButtonTo5a ? 'Προωθείται προς το Διοικητικό Συμβούλιο': 'Εγκρίνεται' }}</button>-->

            <button class="uk-button uk-button-primary" (click)="approveRequest(false)">Απορρίπτεται</button>
            <button *ngIf="stageId !== '2'" class="uk-button uk-button-primary" (click)="goBackOneStage()">Επιστροφή στο προηγούμενο στάδιο</button>
        </div>
        <div *ngIf="stageId === '6' || stageId === '11'">
            <button class="uk-button uk-button-primary" (click)="submitForm()">Προώθηση αιτήματος</button>
            <button class="uk-button uk-button-primary" (click)="goBackOneStage()">Επιστροφή στο προηγούμενο στάδιο</button>
        </div>
        <div><span class="uk-text-small">Ημερομηνία: {{ getCurrentDateString() }}</span></div>

        <!-- MODAL -->
        <!-- NOT USED ANYMORE -->
        <!--<div id="nextStage" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h4 class="uk-modal-title uk-h4">Προώθηση αιτήματος</h4>
                <div class="uk-modal-body">Το αίτημα θα σταλεί προς έγκριση {{ nextStageDelegate }}</div>
                <button class="uk-button uk-button-primary" type="button" (click)="onConfirm($event)">Επιβεβαίωση</button>
                <button class="uk-button uk-button-primary uk-modal-close" type="button">Άκυρο</button>
            </div>
        </div>-->
    </div>
</div>

