<div *ngIf="showStage" class="uk-width-1-1 uk-margin-bottom">
    <hr>
    <div *ngIf="wasSubmitted" class="uk-form-controls">
        <h5>{{ stageTitle }}</h5>
        <div>
            {{ wasApproved ? 'Εγκρίθηκε' : 'Απορρίφθηκε' }}
            {{ delegatePositionInParagraph }}
            ({{ currentStage[stageDescription.delegateField]['firstname'] }}
            {{ currentStage[stageDescription.delegateField]['lastname'] }}), την {{ currentStage['date'] }}
        </div>
        <div *ngFor="let desc of stageDescription.stageFields; let controlIndex = index">
            <app-stage-form [description]="desc">
                <input class="uk-form-controls uk-checkbox"
                       type="{{desc.type}}" [checked]="currentStage[ stageExtraFieldsList[controlIndex] ]" disabled>
            </app-stage-form>
        </div>
        <div *ngIf="currentStage['comment']">
            <span class="uk-text-bold uk-margin-small-right">Σχόλια: </span>
            <span> {{ currentStage['comment'] }} </span>
        </div>
        <div *ngIf="currentStage['attachment'] && currentStage['attachment']['url']">
            <a class="uk-link uk-width-1-1@l uk-margin-small-top" (click)="linkToFile()">
                Πατήστε εδώ για να κατεβάσετε τα σχετικά αρχεία
            </a>
        </div>
    </div>
    <div *ngIf="!wasSubmitted && stageForm" [formGroup]="stageForm" class="uk-form-controls">
        <h5>{{ stageTitle }}</h5>

        <div *ngIf="stageFormError" class="uk-alert uk-alert-warning">{{ stageFormError }}</div>
        <!--INPUTS FOR EXTRA FIELDS-->
        <div *ngFor="let desc of stageDescription.stageFields; let controlIndex = index">
            <app-stage-form [description]="desc">
                <div *ngIf="desc.type !== 'textarea'">
                    <input formControlName="{{stageExtraFieldsList[controlIndex]}}"
                           class="uk-form-controls" type="{{ desc.type }}">
                </div>
                <div *ngIf="desc.type === 'textarea'">
                    <textarea formControlName="{{stageExtraFieldsList[controlIndex]}}"
                              class="uk-form-controls uk-textarea" rows="2"></textarea>
                </div>
            </app-stage-form>
        </div>

        <!-- COMMENT FIELD -->
        <app-stage-form [description]="commentFieldDesc">
            <textarea formControlName="comment" class="uk-form-controls uk-textarea" rows="2"></textarea>
        </app-stage-form>

        <!--ATTACHMENT FIELD-->
        <app-stage-form-upload-file (emitFile)="getAttachmentInput($event)"></app-stage-form-upload-file>

        <!--BUTTONS-->
        <div *ngIf="stageDescription.id !== '6' && stageDescription.id !== '11'">
            <button *ngIf="stageFormDefinition.id !== '5'"
                    class="uk-button uk-button-primary" (click)="approveRequest(true)">Εγκρίνεται</button>

            <button *ngIf="stageFormDefinition.id === '5' && willShowButtonTo5a"
                    class="uk-button uk-button-primary" (click)="forwardRequest('5a')">Προώθηση προς τον Γενικό Διευθυντή</button>
            <button *ngIf="stageFormDefinition.id === '5' && willShowButtonTo5b"
                    class="uk-button uk-button-primary" (click)="forwardRequest('5b')">Προώθηση προς το Διοικητικό Συμβούλιο</button>

            <button class="uk-button uk-button-primary" (click)="approveRequest(false)">Απορρίπτεται</button>
        </div>
        <div *ngIf="stageDescription.id === '6' || stageDescription.id === '11'">
            <button class="uk-button uk-button-primary" (click)="submitForm()">Προώθηση αιτήματος</button>
        </div>
        <div><span class="uk-text-small">Ημερομηνία αλλαγής: {{ getCurrentDateString() }}</span></div>
    </div>
</div>