<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-expand">
    <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 id="requestTitle" class="uk-h3 uk-heading-bullet uk-padding-small">
          Αίτημα {{currentRequestApproval ? currentRequestApproval.baseInfo.requestId : ''}}
          <span *ngIf="currentRequestApproval" class="uk-text-small">
            [{{ reqTypes[currentRequestApproval.type] }}]</span>
        </h1>

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->
            <div id="printable-section" class=" uk-width-expand@m">
              <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
              <div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
              <div *ngIf="notFoundMessage" class="uk-alert">{{ notFoundMessage }}</div>

              <div *ngIf="!showSpinner && currentRequestInfo">

                <!--1st stage-->
                <div *ngIf="willShowStage('1') === 2" class="submittedRequest">
                  <div class="uk-margin-bottom uk-width-1-1 uk-grid">
                    <div class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Πρόγραμμα: </span>
                      <span *ngIf="currentRequestApproval.projectAcronym">
                        {{ currentRequestApproval.projectAcronym }} ({{currentRequestApproval.instituteName}})
                      </span>
                    </div>
                    <div class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Ημερομηνία υποβολής: </span>
                      <span>{{ currentRequestApproval.stages['1']['requestDate'] | date : 'dd-MM-yyyy' }}</span>
                    </div>
                    <div class="uk-width-1-1@l uk-grid">
                      <div *ngIf="currentRequestApproval.requesterFullName" class="uk-width-1-2@l">
                        <span class="uk-text-bold uk-margin-small-right">Από: </span>
                        <span>
                          {{ currentRequestApproval.requesterFullName }} ({{ reqPositions[currentRequestApproval.requesterPosition] }})
                        </span>
                      </div>
                      <div *ngIf="currentRequestApproval.onBehalfFullName" class="uk-width-1-2@l">
                        <span class="uk-text-bold uk-margin-small-right">Εκ μέρους του/της: </span>
                        <span>{{ currentRequestApproval.onBehalfFullName }}</span>
                      </div>
                    </div>
                    <div *ngIf="(currentRequestApproval.type !== 'TRIP') && (currentRequestApproval.type !== 'CONTRACT')" class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Προμηθευτής: </span>
                      <span>{{ currentRequestApproval.stages['1']['supplier'] }} ({{ selMethods[currentRequestApproval.stages['1']['supplierSelectionMethod']] }})</span>
                    </div>
                    <div *ngIf="currentRequestApproval.type === 'TRIP'" class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">Προορισμός: </span>
                      <span>{{ currentRequestApproval.tripDestination }}</span>
                    </div>
                    <div class="uk-width-1-2@l">
                      <span class="uk-text-bold uk-margin-small-right">
                        {{ (currentRequestApproval.stages['1']['amountInEuros'] !== currentRequestApproval.stages['1']['finalAmount']) ? 'Τελικό π': 'Π' }}οσό: </span>
                      <span>{{ currentRequestApproval.stages['1']['finalAmount'] | currency: 'EUR': 'symbol-narrow' }}</span>
                    </div>

                    <div class="uk-width-1-1@l">
                      <span class="uk-text-bold uk-margin-small-right">Θέμα:</span>
                      <span>{{ currentRequestApproval.stages['1']['subject'] }}</span>
                    </div>

                    <div *ngIf="currentRequestApproval.stages['1'].attachments && (currentRequestApproval.stages['1'].attachments.length > 0)"
                         class="uk-margin-small-top no-print" data-html2canvas-ignore>
                      Για λήψη του αρχείου που επιθυμείτε, πατήστε στον αντίστοιχο σύνδεσμο:
                      <span *ngFor="let f of currentRequestApproval.stages['1'].attachments; let i = index">
                        <a class="uk-link uk-width-1-1@l" (click)="linkToFile(i)">
                          {{ f.filename }}
                        </a>
                        <span *ngIf="currentRequestApproval.stages['1'].attachments.length > i + 1"> |</span>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- stage 1 form -->
                <div *ngIf="willShowStage('1') === 1" data-html2canvas-ignore>
                  <stage1-form [currentRequest]="currentRequestApproval"
                               (emitRequest)="getUpdatedRequest($event)"></stage1-form>
                </div>


                <!--end of 1st stage-->
                <div *ngIf="(userIsAdmin() || userIsRequester()) && (currentRequestPayments.length === 0)"
                     class="uk-text-right no-print" data-html2canvas-ignore>
                  <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #cancellationModal">
                    Ακύρωση Αιτήματος
                  </button>
                </div>

                <div class="uk-text-right uk-margin-small-top no-print" data-html2canvas-ignore>
                  <button class="uk-button uk-button-default" (click)="printRequest()"
                          title="Πατήστε για λήψη του<br>αιτήματος σε μορφή pdf" uk-tooltip>
                    Λήψη ως PDF</button>
                </div>

                <!-- Submitted stages view -->
                <hr>

                <div class="uk-margin-top" *ngIf="(currentRequestInfo['2'].showStage >= 1) ||
                                                   ((currentRequestInfo['2'].showStage === 1) && currentRequestApproval.canEdit)">
                    <h4>Ανάληψη υποχρέωσης δαπάνης</h4>
                </div>

                <!-- PHASE 1  -->
                <div class="uk-child-width-expand uk-grid" uk-grid
                     *ngIf="currentRequestInfo['2'].showStage > 1">

                  <stage2-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['2'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stages['2'], currentRequestInfo: currentRequestInfo}"></stage2-component>

                  <stage3-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['3'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stages['3'], currentRequestInfo: currentRequestInfo}"></stage3-component>

                  <stage4-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['4'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stages['4'], currentRequestInfo: currentRequestInfo}"></stage4-component>

                </div>



                <div class="uk-child-width-expand uk-grid" uk-grid
                     *ngIf="currentRequestInfo['5a'].showStage > 1">

                  <stage5a-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                     *ngIf="currentRequestInfo['5a'].showStage > 1"
                                     [data]="{currentStage: currentRequestApproval.stages['5a'], currentRequestInfo: currentRequestInfo}"></stage5a-component>

                  <stage5b-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                     *ngIf="currentRequestInfo['5b'].showStage > 1"
                                     [data]="{currentStage: currentRequestApproval.stages['5b'], currentRequestInfo: currentRequestInfo}"></stage5b-component>

                  <stage6-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                    *ngIf="currentRequestInfo['6'].showStage > 1"
                                    [data]="{currentStage: currentRequestApproval.stages['6'], currentRequestInfo: currentRequestInfo}"></stage6-component>

                </div>


                  <!-- Form of pending stage -->
                  <div class="uk-margin-medium-top no-print" data-html2canvas-ignore
                       *ngIf="(currentRequestApproval.baseInfo.stage !== '1') &&
                              (currentRequestInfo[currentRequestApproval.baseInfo.stage].showStage === 1)">

                      <app-stage-loader [stages]="stageLoaderItemList"
                                        (emitStage)="getSubmittedStage($event)"
                                        (newValues)="getNewSupplierAndAmount($event)"></app-stage-loader>

                  </div>

                <!-- Message to a simpleUser when the request is pending -->
                <div *ngIf="isSimpleUser && (currentRequestApproval.baseInfo.stage !== '1')"
                     class="uk-alert uk-alert-primary uk-text-center uk-margin-top">
                  Το αίτημά σας {{ stateNames[currentRequestApproval.requestStatus] }}.
                    <!-- TODO: add message about payments?? -->
                </div>

                <!-- Message to user -->
                <div *ngIf=" (currentRequestApproval.requestStatus === 'ACCEPTED') ||
                             (currentRequestApproval.requestStatus === 'REJECTED') ||
                             (currentRequestApproval.requestStatus === 'CANCELLED')"
                     class="uk-alert uk-alert-primary uk-text-center uk-margin-top">
                  Το αίτημα {{ stateNames[currentRequestApproval.requestStatus] }}.
                </div>

                <div *ngIf="(currentRequestApproval.baseInfo.status === 'ACCEPTED') &&
                            (currentRequestApproval.type !== 'CONTRACT')" class="uk-margin-top" data-html2canvas-ignore>
                  <hr>

                    <!-- Create Payment button JUST FOR ADMINS -->
                    <!-- Should NOT be needed - normally the first payment is created on the approval's completion -->
                    <div *ngIf="(!currentRequestPayments || (currentRequestPayments.length === 0)) && userIsAdmin()"
                         class="uk-margin-top">

                        <button class="uk-button uk-button-primary"
                                (click)="createRequestPayment()">Προσθήκη Περαίωσης</button>
                    </div>

                    <div *ngIf="(currentRequestPayments && (currentRequestPayments.length > 0))">

                      <!-- Link to Payment -->
                      <div *ngIf="(currentRequestApproval.type !== 'SERVICES_CONTRACT')" class="no-print" data-html2canvas-ignore>
                          <a [routerLink]="['/requests/request-stage-payment', currentRequestPayments[0].id]">Προβολή Περαίωσης</a>
                      </div>

                      <!-- Payments list -->
                      <div *ngIf="(currentRequestApproval.type === 'SERVICES_CONTRACT')" class="no-print" data-html2canvas-ignore>

                        <div>
                          <h4>Περαιώσεις του αιτήματος</h4>
                          <div class="uk-width-1-1 uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-top uk-margin-bottom">
                            <table class="uk-table uk-table-hover uk-table-divider">
                              <thead>
                                <tr>
                                  <th>Ημερομηνία Δημιουργίας</th>
                                  <th>Στάδιο</th>
                                  <th>Κατάσταση</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="uk-link" *ngFor="let payment of currentRequestPayments"
                                    [routerLink]="['/requests/request-stage-payment', payment.id]"
                                    title="Μετάβαση στην σελίδα της περαίωσης">
                                  <td>{{ payment.creationDate | date : 'dd-MM-yyyy' }}</td>
                                  <td>{{ stagesMap[payment.stage] }}</td>
                                  <td>{{ getStatusAsString(payment.status) }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                      <div *ngIf="( userIsRequester() || userIsAdmin() )">
                          <button class="uk-button uk-button-primary"
                                  (click)="createRequestPayment()">Προσθήκη Νέας Περαίωσης</button>
                      </div>
                      <div *ngIf="( userIsRequester() || userIsAdmin() )">
                          <button class="uk-button uk-button-primary" type="button" uk-toggle="target: #finalizingModal">
                              Ολοκλήρωση Αιτήματος</button>
                      </div>
                      </div>
                    </div>


                </div>


              </div>
            </div>

            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>

<div *ngIf="currentRequestApproval" id="cancellationModal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h4 class="uk-modal-title uk-h4">Επιβεβαίωση ακύρωσης</h4>
    <div class="uk-modal-body">
      Είστε βέβαιοι ότι επιθυμείτε να ακυρώσετε το αίτημα με αρ.Πρ.{{ currentRequestApproval.baseInfo.requestId }};
    </div>
    <button class="uk-button uk-button-primary uk-margin-small-right" (click)="confirmedCancel()">Ακύρωση αιτήματος</button>
    <button class="uk-button uk-button-primary uk-modal-close">Επιστροφή στην σελίδα</button>
  </div>
</div>

<div *ngIf="currentRequestApproval" id="finalizingModal" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h4 class="uk-modal-title uk-h4">Επιβεβαίωση ολοκλήρωσης</h4>
    <div class="uk-modal-body">
        Είστε βέβαιοι ότι επιθυμείτε να ολοκληρώσετε το αίτημα με αρ.Πρ.{{ currentRequestApproval.baseInfo.requestId }};
        <br>
        Μετά από αυτή την ενέργεια δεν θα είναι δυνατή η προσθήκη νέων περαιώσεων.
    </div>
    <button class="uk-button uk-button-primary uk-margin-small-right" (click)="confirmedFinalize()">Ολοκλήρωση αιτήματος</button>
    <button class="uk-button uk-button-primary uk-modal-close">Επιστροφή στην σελίδα</button>
  </div>
</div>


