<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3 uk-heading-bullet uk-padding-small uk-margin-remove">{{title}}</h1>

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-remove">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->
            <form [formGroup]="requestsForm" class=" uk-width-expand@m">

<!-- form --> <div class="uk-form-horizontal uk-margin-large uk-padding-remove-bottom">


                <div class="uk-align-center">
                  <div class="uk-width-1-2 uk-align-center">
                    <input class="uk-input uk-width-2-3 uk-search-field"
                         placeholder="αιτών, χειριστής, υπεύθυνος, έργο, ινστιτούτο" formControlName="searchText">
                    <button class="uk-button-medium uk-button-secondary uk-padding-small" (click)="ngOnInit()">Αναζήτηση</button>
                  </div>

          <!-- Filters -->
                  <div id="filters" class="uk-width-1-1 uk-align-right uk-inline">
                    <div class="uk-width-small uk-align-right uk-margin-remove">
                      <!--<div class="uk-width-small uk-align-right uk-margin">-->
                      <div class="show-options uk-inline" style="float: right;">
                        <label for="req-pagesize" style="display: inline;">Αιτήσεις:</label>
                        <div class="inlineBlock">
                          <select id="req-pagesize" #itemsPerPage class="form-control" (change)="getItemsPerPage(itemsPerPage.value)">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="uk-width-small uk-align-left uk-margin-remove">
                      <label for="req-status" style="padding-left: 15px">Κατάσταση:</label>
                      <select class="uk-select uk-width-small" id="req-status" formControlName="status">
                        <option value="all">όλα</option>
                        <option *ngFor="let state of states">{{state}}</option>
                      </select>
                    </div>
                    <div class="uk-width-small uk-align-left uk-margin-remove" style="padding-right: 15px;">
                      <label for="req-stage" style="padding-left: 15px">Στάδιο:</label>
                      <select class="uk-select uk-width-small" id="req-stage" formControlName="stage">
                        <option *ngFor="let stage of stages"><span>{{stage==='0' ? 'όλα τα στάδια' : stage}}</span></option>
                      </select>
                    </div>
                    <!--<div class="uk-width-small uk-align-left uk-margin-remove" style="padding-right: 15px;">-->
                      <!--<label for="req-date" style="padding-left: 15px">Ημ/νια:</label>-->
                      <!--<input id="req-date" type="date" min="2018-01-01">-->
                      <!--&lt;!&ndash; TODO: na perasw tin imerominia &ndash;&gt;-->
                    <!--</div>-->


                  </div>
          <!-- /Filters -->

                </div>


              </div>


              <div class="uk-width-1-1 uk-margin uk-padding uk-padding-remove-bottom">
          <!-- Paging-top -->
                <div class="uk-width-1-1 uk-align-center">
                  <ul class="uk-pagination uk-padding-small uk-padding-remove-bottom">
                    <li>
                      <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                  <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                         icon="pagination-previous" ratio="1"></svg>
                  </span>
                        Previous
                      </a>
                    </li>

                    <li class="uk-margin-auto-left">
                      <div class="resultsPageLabel" style="all: unset; font-size: small">page {{ currentPage+1 }} of {{ totalPages }}</div>
                    </li>

                    <li class="uk-margin-auto-left">
                      <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                        Next
                        <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                        <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                             icon="pagination-next" ratio="1"></svg>
                      </span>
                      </a>
                    </li>
                  </ul>
                  <!--<div class="resultsPageLabel">page {{ currentPage+1 }} of {{ totalPages }}</div>-->
                </div>
    <!-- /Paging-top -->


              </div>


                <!--</fieldset>-->
              <!--</div>-->
<div class="uk-width-1-1 uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-top uk-margin-bottom">
                  <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                      <tr>

                        <!--<td class="uk-link" (click)="sortBy(1)"><app-category [title]="'Α/Α'" [sortSymbol]="catSymbol[]"></app-category></td>-->
                        <!--<td class="uk-link" (click)="sortBy(2)"><app-category [title]="'Πρόγραμμα'"></app-category></td>-->
                          <!--<td class="uk-link"><app-category [title]="'Ινστιτούτο/Μονάδα'"></app-category></td>-->
                        <!--<td class="uk-link"><app-category [title]="'Αιτών'"></app-category></td>-->
                        <!--<td class="uk-link"><app-category [title]="'Ημ/νια'"></app-category></td>-->
                        <!--<td class="uk-link"><app-category [title]="'Στάδιο'"></app-category></td>-->
                        <!--<td class="uk-link"><app-category [title]="'Κατάσταση'"></app-category></td>-->
                          <!---->
                        <td class="uk-link" (click)="sortBy(0)">{{categories[0]}} <span [innerHtml]="catSymbols[0]"></span></td>
                        <td class="uk-link" (click)="sortBy(1)">{{categories[1]}} <span [innerHtml]="catSymbols[1]"></span></td>
                        <td class="uk-link" (click)="sortBy(2)">{{categories[2]}} <span [innerHtml]="catSymbols[2]"></span></td>
                        <td class="uk-link" (click)="sortBy(3)">{{categories[3]}} <span [innerHtml]="catSymbols[3]"></span></td>
                        <td class="uk-link" (click)="sortBy(4)">{{categories[4]}} <span [innerHtml]="catSymbols[4]"></span></td>
                        <td class="uk-link" (click)="sortBy(5)">{{categories[5]}} <span [innerHtml]="catSymbols[5]"></span></td>
                        <td class="uk-link" (click)="sortBy(6)">{{categories[6]}} <span [innerHtml]="catSymbols[6]"></span></td>
                        <td class="uk-link" (click)="sortBy(7)">{{categories[7]}} <span [innerHtml]="catSymbols[7]"></span></td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let entry of listOfRequests" class="uk-link" [routerLink]="['request-stage', entry.id]">
                        <td>{{entry.id}}</td>
                        <td>{{entry.requesterPosition}}</td>
                        <td>{{entry.stage}}</td>
                        <td>{{entry.id}}</td>
                        <td>{{entry.requesterPosition}}</td>
                        <td>{{entry.stage}}</td>
                        <td>{{entry.stage1.amountInEuros}}&euro;</td>
                        <td>{{entry.status}}</td>

                        <!--<td>-->
                          <!--<div>{{entry.stage}}</div>-->
                          <!--<div>{{entry.stage1.amountInEuros}}&euro;</div>-->
                        <!--</td>-->
                        <!--<td>-->
                          <!--<div>{{entry.status}}</div>-->
                          <!--&lt;!&ndash;<div>{{entry.st}</div>&ndash;&gt;-->
                          <!--<div>{{entry.stage1.amountInEuros}}&euro;</div>-->
                        <!--</td>-->
                      </tr>
                    </tbody>
                  </table>
</div>

      <!-- Paging-bottom -->
              <div class="uk-padding uk-padding-remove-top">
                <div class="uk-width-1-1 uk-align-center">
                  <ul class="uk-pagination">
                    <li>
                      <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                    <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                      <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                           icon="pagination-previous" ratio="1"></svg>
                    </span>
                        Previous
                      </a>
                    </li>

                    <li class="uk-margin-auto-left">
                      <div class="resultsPageLabel" style="all: unset; font-size: small">page {{ currentPage+1 }} of {{ totalPages }}</div>
                    </li>

                    <li class="uk-margin-auto-left">
                      <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                        Next
                        <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                          <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                               icon="pagination-next" ratio="1"></svg>
                        </span>
                      </a>
                    </li>
                  </ul>
                  <!--<div class="resultsPageLabel">page {{ currentPage+1 }} of {{ totalPages }}</div>-->
                </div>
              </div>
      <!-- /Paging-bottom -->


            </form>

            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>