<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h3 uk-heading-bullet uk-padding-small uk-margin-remove">{{title}}</h1>

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-remove">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->
            <div class=" uk-width-expand@m">

                <div class="uk-form-horizontal uk-margin-large">
                    <div [formGroup]="keywordField" class="uk-width-1-2 uk-align-center uk-margin-top">
                        <input class="uk-input uk-width-2-3 uk-search-field"
                               placeholder="αιτών, χειριστής, υπεύθυνος, έργο, ινστιτούτο" formControlName="keyword">
                        <button class="uk-button-medium uk-button-secondary uk-padding-small" (click)="getSearchResults()">Αναζήτηση</button>
                    </div>
                </div>
                <div>
                    <div *ngIf="errorMessage" class="uk-alert uk-alert-warning">{{errorMessage}}</div>
                    <div *ngIf="showSpinner" class="uk-inline uk-position-center uk-padding-large-top">
                        <div class="uk-overlay-default uk-position-cover"></div>
                        <div uk-spinner="ratio: 2" class="uk-overlay uk-dark"></div>
                    </div>
                    <div *ngIf="searchResults">
                        <div class="uk-grid page-controls">
                            <div class="uk-margin-bottom ">
                                <div class="show-options uk-inline">
                                    <div class="filterLabel">Κατάσταση:</div>
                                    <div class="inlineBlock">
                                        <select class="form-control" (change)="chooseState($event)">
                                            <option *ngFor="let state of states" value="{{ state }}">{{stateNames[state]}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!isSimpleUser" class="uk-margin-bottom ">
                                <div class="show-options uk-inline">
                                    <div class="filterLabel">Στάδιο:</div>
                                    <div class="inlineBlock">
                                        <select class="form-control" (change)="chooseStage($event)">
                                            <option *ngFor="let stage of stages" value="{{ stage }}">{{ stagesMap[stage] }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-margin-bottom ">
                                <div class="show-options uk-inline">
                                    <div class="filterLabel">Αιτήσεις ανά σελίδα:</div>
                                    <div class="inlineBlock">
                                        <select id="req-pagesize" class="form-control" (change)="getItemsPerPage($event)">
                                            <option value="10" selected>10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contentAndPagerPanel">

                            <div class="uk-width-1-1 uk-margin uk-padding uk-padding-remove-bottom">
                                <!-- Paging-top -->
                                <div class="uk-width-1-1 uk-align-center">
                                    <ul class="uk-pagination uk-padding-small uk-padding-remove-bottom">
                                        <li>
                                            <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                                                <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-previous" ratio="1"></svg>
                                                </span>
                                                Previous
                                            </a>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <div class="resultsPageLabel" style="all: unset; font-size: small">page {{ (totalPages > 0) ? currentPage+1 : 0 }} of {{ totalPages }}</div>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                                                Next
                                                <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-next" ratio="1"></svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <div *ngIf="listOfRequests" class="uk-width-1-1 uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-top uk-margin-bottom">
                                    <table class="uk-table uk-table-hover uk-table-divider">
                                        <thead>
                                            <tr>
                                                <th>Αρ.Πρωτοκόλλου</th>
                                                <th>Είδος</th>
                                                <th><a (click)="sortBy('request_project')" title="Ταξινόμηση με βάση τον τίτλο του έργου">
                                                    Πρόγραμμα&nbsp;
                                                    <span *ngIf="orderField && (orderField === 'request_project')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                    </a>
                                                </th>
                                                <th><a (click)="sortBy('request_institute')" title="Ταξινόμηση με βάση το όνομα του Ινστιτούτου" class="uk-margin-large-right">
                                                    Ινστιτούτο/Μονάδα
                                                    <span *ngIf="orderField && (orderField === 'request_institute')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                </a></th>

                                                <th>Αιτών</th>
                                                <th><a (click)="sortBy('creation_date')" title="Ταξινόμηση με βάση την ημερομηνία υποβολής του αιτήματος">
                                                    Ημ/νια&nbsp;
                                                    <span *ngIf="orderField && (orderField === 'creation_date')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                    </a>
                                                </th>
                                                <th *ngIf="!isSimpleUser"><a (click)="sortBy('request_stage')" title="Ταξινόμηση με βάση το στάδιο" class="uk-margin-right">
                                                    Στάδιο&nbsp;
                                                    <span *ngIf="orderField && (orderField === 'request_stage')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                    </a>
                                                </th>
                                                <th><span class="uk-margin-right">Κατάσταση</span></th>
                                            </tr>
                                            <tr *ngIf="noRequests">
                                                <td colspan="7" class="uk-alert uk-width-1-1">{{noRequests}}</td>
                                            </tr>
                                            <tr class="uk-link" *ngFor="let req of listOfRequests"
                                                [routerLink]="['request-stage', req.id]"
                                                title="Μετάβαση στην σελίδα του αιτήματος">
                                                <td>{{ req.id }}</td>
                                                <td>{{ reqTypes[req.type] }}</td>
                                                <td>{{ req.project.acronym }}</td>
                                                <td>{{ req.project.institute.name }}</td>
                                                <td>{{ req.requester.firstname }} {{ req.requester.lastname }}</td>
                                                <td>{{ req.stage1.requestDate | date : 'dd-MM-yyyy' }}</td>
                                                <td *ngIf="!isSimpleUser" >{{ stagesMap[req.stage] }}</td>
                                                <td>{{ getStatusAsString(req.status) }}</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-margin uk-padding uk-padding-remove-top">
                                <!-- Paging-bottom -->
                                <div class="uk-width-1-1 uk-align-center">
                                    <ul class="uk-pagination uk-padding-small uk-padding-remove-top">
                                        <li>
                                            <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                                                <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-previous" ratio="1"></svg>
                                                </span>
                                                Previous
                                            </a>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <div class="resultsPageLabel" style="all: unset; font-size: small">page {{ (totalPages > 0) ? currentPage+1 : 0 }} of {{ totalPages }}</div>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                                                Next
                                                <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-next" ratio="1"></svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>