<div class="tm-header uk-visible@m" uk-header="">
    <div class="uk-navbar-container uk-sticky" uk-sticky style="">
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar-container" uk-navbar style="">
                <div class="uk-navbar-left">
                    <a [routerLink]="['home']" class="uk-navbar-item navbar-brand-athena uk-logo"></a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['home']">
                                Αρχική
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a href="#">Νέο Αίτημα</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li>
                                        <a [routerLink]="['new-request','regular']">Πρωτογενές Αίτημα</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['new-request','trip']">Ταξίδι</a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['new-request','contract']">Σύμβαση</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['requests']">
                                Αιτήματα
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['about']">
                                Σχετικά
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent uk-inline">
                            <!--<a class="loginLink uk-margin-right" [routerLink]="['sign-up']" routerLinkActive="uk-active">Είσοδος-->
                            <a class="loginLink uk-link" routerLinkActive="uk-active">
                                <a *ngIf="!isUserLoggedIn()" class="uk-margin-right uk-link" (click)="login()">Είσοδος</a>
                                <span *ngIf="isUserLoggedIn()" class="uk-margin-right">{{ getUserName() }}</span>
                                <span class="uk-margin-small-right uk-icon">
                                    <svg height="20" ratio="1" viewBox="0 0 20 20" width="20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="9.9" cy="6.4" fill="none" r="4.4" stroke="#000"
                                                stroke-width="1.1"></circle>
                                        <path d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"
                                              fill="none" stroke="#000" stroke-width="1.1"></path>
                                    </svg>
                                </span>
                            </a>
                            <div *ngIf="isUserLoggedIn()" uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a [routerLink]="['/sign-up']">Στοιχεία χρήστη</a></li>
                                    <li><a (click)="logout()">Έξοδος</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--<div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>-->
</div>


<div class="tm-header-mobile uk-hidden@m">
    <div  class="uk-navbar-container" uk-sticky>
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle>
                    <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon">
                    </div>
                </a>
            </div>
            <div class="uk-navbar-center">
                <a routerLink="/home" class="uk-navbar-item navbar-brand-athena uk-logo"></a>
            </div>
        </nav>
    </div>
    <div id="tm-mobile" uk-offcanvas="" mode="slide" overlay="" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close uk-close uk-icon" type="button" style="color: #2d2e33" uk-close>
            </button>
            <div class="uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                <div>
                    <div class="uk-panel" id="module-0">
                        <ul class="uk-nav uk-nav-default">
                            <li class="uk-nav-header" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['home']">
                                    Αρχική
                                </a>
                            </li>
                            <li class="uk-nav-header" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['new-request']">
                                    Νέο Αίτημα
                                </a>
                            </li>
                            <li class="uk-nav-header" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['requests']">
                                    Αιτήματα
                                </a>
                            </li>
                            <li class="uk-nav-header" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['about']">
                                    Σχετικά
                                </a>
                            </li>
                            <li class="uk-nav-header" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['sign-up']">
                                    Είσοδος
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
