<!--<div class="tm-header uk-visible@m" uk-header="">-->
  <!--<div class="uk-navbar-container uk-sticky" uk-sticky="" media="768" cls-active="uk-active uk-navbar-sticky" style="">-->
    <!--<div class="uk-container uk-container-expand">-->
      <!--<nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">-->
        <!--<div class="uk-navbar-left">-->
          <!--<a routerLink="/home" class="uk-navbar-item navbar-brand-athena uk-logo">-->
            <!--&lt;!&ndash;<img src="../../../assets/imgs/ARCLogo.png"&ndash;&gt;-->
                 <!--&lt;!&ndash;class="uk-responsive-height" alt="Athena Research Center">&ndash;&gt;-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="uk-navbar-center">-->
          <!--<ul class="uk-navbar-nav">-->
            <!--<li class="uk-parent" [routerLinkActive]="['uk-active']">-->
              <!--<a routerLink="/home" routerLinkActive="uk-active">-->
                <!--Αρχική-->
                <!--&lt;!&ndash;<img class="uk-responsive-height" src="./imgs/Icons/Home_24white.svg" alt="home">&ndash;&gt;-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#" class="" aria-expanded="false">Νέο Αίτημα</a>-->
              <!--<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;" id="searchMenu" (click)="onClick('searchMenu')">-->
                <!--<div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->
                  <!--<div class="uk-first-column">-->
                    <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
                      <!--<li><a [routerLink]="['/search', { resourceType: 'application' }]" routerLinkActive="uk-active">Applications</a></li>-->
                      <!--<li><a [routerLink]="['/search', { resourceType: 'component' }]" routerLinkActive="uk-active">Components</a></li>-->
                      <!--<li><a [routerLink]="['/search', { resourceType: 'corpus' }]" routerLinkActive="uk-active">Corpora</a></li>-->
                      <!--<li><a [routerLink]="['/search', { resourceType: 'lexical' }]" routerLinkActive="uk-active">Annotation Resources</a></li>-->
                      <!--<li><a [routerLink]="['/search', { resourceType: 'language' }]" routerLinkActive="uk-active">Models & Grammars</a></li>-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/search']" routerLinkActive="uk-active">...</a></li>&ndash;&gt;-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li class="uk-parent" [routerLinkActive]="['uk-active']"><a href="#" class="" aria-expanded="false">Αιτήματα</a>-->
              <!--<div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;" id="actions" (click)="onClick('actions')">-->
                <!--<div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->
                  <!--<div class="uk-first-column">-->
                    <!--<ul class="uk-nav uk-navbar-dropdown-nav">-->
                      <!--<li><a [routerLink]="['/resourceRegistration/application']" routerLinkActive="uk-active">Applications</a></li>-->
                      <!--<li><a [routerLink]="['/resourceRegistration/component']" routerLinkActive="uk-active">Components</a></li>-->
                      <!--<li><a [routerLink]="['/resourceRegistration/corpus']" routerLinkActive="uk-active">Corpora</a></li>-->
                      <!--<li><a [routerLink]="['/resourceRegistration/lexical']" routerLinkActive="uk-active">Annotation Resources</a></li>-->
                      <!--<li><a [routerLink]="['/resourceRegistration/language']" routerLinkActive="uk-active">Models & Grammars</a></li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li class="uk-parent" [routerLinkActive]="['uk-active']">-->
              <!--<a routerLink="/runApplication" routerLinkActive="uk-active">-->
                <!--Σχετικά-->
                <!--&lt;!&ndash;<img class="uk-responsive-height" src="./imgs/Icons/Home_24white.svg" alt="home">&ndash;&gt;-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="uk-parent" [routerLinkActive]="['uk-active']">-->
              <!--<a routerLink="/support" routerLinkActive="uk-active">-->
                <!--Support-->
                <!--&lt;!&ndash;<img class="uk-responsive-height" src="./imgs/Icons/Home_24white.svg" alt="home">&ndash;&gt;-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="uk-navbar-right">&ndash;&gt;-->

          <!--&lt;!&ndash;<ul class="uk-navbar-nav">&ndash;&gt;-->
            <!--&lt;!&ndash;<li class="uk-parent">&ndash;&gt;-->

              <!--&lt;!&ndash;<a *ngIf="oAuthService.isUserLoggedIn" class="loginLink">&ndash;&gt;-->
                <!--&lt;!&ndash;<span> {{oAuthService.getLoggedInUser + " "}} <span class="uk-margin-small-right uk-icon" ><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4" r="4.4"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"></path></svg></span></span>&ndash;&gt;-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->
              <!--&lt;!&ndash;<a *ngIf="!oAuthService.isUserLoggedIn" class="loginLink" (click)="loginWithState()" >Sign in | Register <span class="uk-margin-small-right uk-icon" ><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9.9" cy="6.4" r="4.4"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"></path></svg> </span>&ndash;&gt;-->
              <!--&lt;!&ndash;</a>&ndash;&gt;-->


              <!--&lt;!&ndash;<div *ngIf="oAuthService.isUserLoggedIn" class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left"   id="userMenu" (click)="onClick('userMenu')"  >&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="uk-first-column">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="uk-nav uk-navbar-dropdown-nav">&ndash;&gt;-->
                      <!--&lt;!&ndash;&lt;!&ndash;<li><a href="" >My profile</a></li>&ndash;&gt;&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/mySpace/applications']" routerLinkActive="uk-active">My Applications</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/mySpace/components']" routerLinkActive="uk-active">My Components</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/mySpace/corpora']" routerLinkActive="uk-active">My Corpora</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/mySpace/lexicals']" routerLinkActive="uk-active">My Annotation Resources</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/mySpace/languages']" routerLinkActive="uk-active">My Models & Grammars</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a [routerLink]="['/mySpace/operations']" routerLinkActive="uk-active">My Operations</a></li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a routerLink="/home" (click)="logout()">Log out</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</nav>-->
    <!--</div>-->
  <!--</div><div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>-->
<!--</div>-->

<div class="tm-header uk-visible@m" uk-header="">
    <div class="uk-navbar-container uk-sticky" uk-sticky="" media="768" cls-active="uk-active uk-navbar-sticky" style="">
        <!--
      <div class="uk-navbar-container uk-sticky uk-navbar-transparent uk-light" uk-sticky="top:0" media="768"
                 cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"
                 top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent uk-light">
       -->
        <div class="uk-container uk-container-expand">
            <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
                <div class="uk-navbar-left">
                    <a routerLink="/home" class="uk-navbar-item navbar-brand-athena uk-logo">
                        <!--<img src="../../../assets/imgs/ARCLogo.png"-->
                        <!--class="uk-responsive-height" alt="Athena Research Center">-->
                    </a>
                </div>
                <!--<div class="uk-navbar-left">-->
                    <!--<a src="index.html" class="uk-navbar-item navbar-brand-athena uk-logo">-->
                        <!--<img src="./imgs/ARCLogo.png" class="uk-responsive-height" alt="Athena Research Center" style="max-width: 400px;">-->
                    <!--</a>-->
                <!--</div>-->
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['home']" [routerLinkActive]="['uk-active']">
                                Αρχική
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['new-request']" routerLinkActive="uk-active">
                                Νέο Αίτημα
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['new-request']" routerLinkActive="uk-active">
                                Αιτήματα
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['new-request']" routerLinkActive="uk-active">
                                Σχετικά
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent">
                            <a class="loginLink">Είσοδος <span class="uk-margin-small-right uk-icon"><svg height="20" ratio="1" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><circle cx="9.9" cy="6.4" fill="none" r="4.4" stroke="#000" stroke-width="1.1"></circle><path d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2" fill="none" stroke="#000" stroke-width="1.1"></path></svg> </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div><div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>
</div>