<div>

    <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>

    <div *ngIf="currentRequest && updateStage1Form" [formGroup]="updateStage1Form" class="uk-margin-bottom uk-width-1-1 uk-grid">

        <div class="uk-width-1-2@l">
            <span class="uk-text-bold uk-margin-small-right">Πρόγραμμα: </span>
            <span>{{ currentRequest.project.acronym }} ({{currentRequest.project.institute.name}})</span>
        </div>
        <div class="uk-width-1-2@l">
            <span class="uk-text-bold uk-margin-small-right">Ημερομηνία προηγούμενης υποβολής: </span>
            <span>{{ currentRequest.stage1.requestDate | date : 'dd-MM-yyyy' }}</span>
        </div>
        <div class="uk-width-1-1@l">
            <span class="uk-text-bold uk-margin-small-right">Από: </span>
            <span>
            {{ currentRequest.requester.firstname }} {{ currentRequest.requester.lastname }} ({{ currentRequest.requesterPosition }})
        </span>
        </div>

        <div class="uk-width-1-1@l">
            <label class="uk-text-bold uk-margin-small-right">Θέμα (*):</label>
            <textarea formControlName="requestText"></textarea>
        </div>

        <div *ngIf="(currentRequest.type !== 'trip') && (currentRequest.type !== 'contract')" class="uk-width-1-2@l">
            <label class="uk-text-bold uk-margin-small-right">Προμηθευτής <span [hidden]="isSupplierRequired === false">(*)</span>:</label>
            <input class="uk-input" type="text" placeholder="" id="request-supplier"
                   formControlName="supplier">
        </div>
        <div *ngIf="(currentRequest.type !== 'trip') && (currentRequest.type !== 'contract')" class="uk-width-1-2@l">
            <label class="uk-text-bold uk-margin-small-right">Τρόπος επιλογής προμηθευτή (*): </label>
            <select class="uk-select" id="request-ssm" formControlName="supplierSelectionMethod"
                    name="ssm" (change)="checkIfSupplierIsRequired()">

                <option value="">-- επιλέξτε τρόπο --</option>
                <option value="{{ selMethods['direct'] }}">{{ selMethods['direct'] }}</option>
                <option value="{{ selMethods['market_investigation'] }}">{{ selMethods['market_investigation'] }}</option>
                <option value="{{ selMethods['competition'] }}">{{ selMethods['competition'] }}</option>
            </select>
        </div>
        <div class="uk-width-1-2@l">
            <label class="uk-text-bold uk-margin-small-right">Ποσό (*): </label>
            <input class="uk-input" type="text" formControlName="amount" placeholder="0" (keyup)="showAmount()">
            <div *ngIf="showWarning" class="uk-text-primary">
                Για ποσά μεταξύ 2.500 € και 20.000 € είναι απαραίτητο να συμπληρώσετε το ακριβές ποσό.
            </div>
            <div class="uk-comment-body uk-text-small uk-text-muted">
                <i>Ο δεκαδικός αριθμός θα πρέπει να είναι της μορφής: <b>1111.11</b></i>
            </div>
            <div *ngIf="updateStage1Form.get('amount').invalid && updateStage1Form.get('amount').touched && updateStage1Form.get('amount').dirty"
                 class="uk-comment-body uk-text-small uk-text-danger">
                Ο αριθμός δεν είναι έγκυρος.
            </div>
            <div *ngIf="requestedAmount && updateStage1Form.get('amount').valid"
                 class="uk-comment-body uk-text-small uk-text-muted">
                Το ποσό είναι: {{ requestedAmount | currency: 'EUR': 'symbol-narrow' }}
            </div>
        </div>
        <div class="uk-width-1-2@l"></div>
        <div class="uk-width-1-1@l">
            <div class="uk-form-controls uk-form-controls-text">
                <app-stage-form-upload-file [uploadedFilename]="stage1AttachmentName" (emitFile)="getUploadedFile($event)"></app-stage-form-upload-file>
            </div>
        </div>
        <div class="uk-width-1-1\@l">
            <button class="uk-button uk-button-primary" (click)="updateStage1()">Υποβολή</button>
        </div>
    </div>

</div>
