<div class="uk-section-default">
  <div class="uk-container">
    <img class="uk-align-center navbar-brand-athena uk-logo">
  </div>
</div>



<a class="uk-button uk-button-default" style="background-color: #dd222c" href="#modal-center" uk-toggle>Open</a>

<div id="modal-center" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>

      <div class="uk-container uk-container-expand uk-margin-medium-bottom uk-margin-medium-top">

          <div class=" uk-width-1-2@m uk-align-center">

            <form [formGroup]="signUpForm" class="uk-form-horizontal uk-margin-large uk-align-center">
              <fieldset data-uk-margin>
                <div class="uk-legend uk-text-small" style="text-align: center" >Τα παρακάτω στοιχεία θα χρησιμοποιηθούν από το σύστημα:</div>
                <table class="uk-table uk-table-striped">
                  <tbody>
                    <tr>
                      <label class="uk-form-label" style="text-align: right" for="user-fill-name">Όνομα</label>
                      <div class="uk-form-controls">

                            <input class="uk-box" style="margin: 2px" type="text"
                                   id="user-fill-name" formControlName="name">
                      </div>
                    </tr>
                    <tr>
                      <label class="uk-form-label" style="text-align: right" for="user-fill-surname">Επώνυμο</label>
                      <div class="uk-form-controls">

                            <input class="uk-box" style="margin: 2px" type="text"
                                   id="user-fill-surname" formControlName="surname">

                      </div>
                    </tr>
                    <tr>
                      <label class="uk-form-label" style="text-align: right" for="user-name">Name</label>
                      <div class="uk-form-controls">

                            <input class="uk-search-input uk-width-large uk-disabled" type="text" id="user-name"
                                   formControlName="nameLatin">

                      </div>
                    </tr>
                    <tr>
                      <label class="uk-form-label" style="text-align: right" for="user-surname">Surname</label>
                      <div class="uk-form-controls">

                            <input class="uk-search-input uk-width-large uk-disabled" type="text" id="user-surname"
                                   formControlName="surnameLatin">

                      </div>
                    </tr>
                    <tr>
                      <label class="uk-form-label" style="text-align: right" for="user-email">e-mail</label>
                      <div class="uk-form-controls">

                            <input class="uk-search-input uk-width-large uk-disabled" type="text" id="user-email"
                                   formControlName="email">

                      </div>
                    </tr>
                  </tbody>
                  <div class="uk-margin-large-top">
                    <div class="uk-form-controls">
                      <div class="uk-width-1-1">
                        <div class="uk-width-1-2@s uk-align-left">

                          <button class="uk-button" (click)="submitRequest()" type="submit" style="width: 200px">Υποβολή</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </table>
              </fieldset>

            </form>
        </div>
      </div>
