<div class="contentAndPagerPanel">
    <div>
        <div *ngIf="errorMessage" class="uk-alert uk-alert-warning">{{errorMessage}}</div>
        <div *ngIf="showSpinner" class="uk-inline uk-position-center uk-padding-large-top">
            <div class="uk-overlay-default uk-position-cover"></div>
            <div uk-spinner="ratio: 2" class="uk-overlay uk-dark"></div>
        </div>
        <div *ngIf="organizations && (organizations.length > 0) && !showSpinner"
             class="uk-width-1-1 uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-top uk-margin-bottom">
            <table class="uk-table uk-table-hover uk-table-divider">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Όνομα</th>
                </tr>
                <tr class="uk-link" *ngFor="let org of organizations"
                    routerLink="/resources/organizations/edit/{{ org.id }}"
                    title="Μετάβαση στην σελίδα του οργανισμού">
                    <td>{{ org.id }}</td>
                    <td>{{ org.name }}</td>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>