<div class="uk-margin-bottom">
    <div class="uk-inline uk-margin-large-right">
        <div>
            <label for="chooseDelegateRadio_{{id}}">
                <input class="uk-radio" id="chooseDelegateRadio_{{id}}"
                       type="radio" name="delegateChoiceMode_{{id}}" checked
                       (change)="inNewDelegateMode(false)">
                &nbsp;Επιλογή από τους ήδη υπάρχοντες
            </label>
        </div>
    </div>
    <div class="uk-inline">
        <div>
            <label for="createNewDelegateRadio_{{id}}">
                <input class="uk-radio" id="createNewDelegateRadio_{{id}}"
                       type="radio" name="delegateChoiceMode_{{id}}"
                       (change)="inNewDelegateMode(true)">
                &nbsp;Δημιουργία νέου
            </label>
        </div>
    </div>
</div>
<div *ngIf="resourceForm" class="uk-margin-bottom">
    <div [formGroup]="resourceForm">
        <div class="">
            <!--<label class="uk-form-label" for="email_{{ id }}">Email (*)</label>-->
            <div class="">
                <input type="email" placeholder="Email (*)" id="email_{{ id }}" class="uk-input"
                       formControlName="email" (keyup)="updateSearchTerm()" />
            </div>
            <div *ngIf="!newDelegateMode"  class="uk-comment-body uk-text-small uk-text-muted">
                <i>Ξεκινήστε να γράφετε το email του εκπροσώπου και επιλέξτε τον από την λίστα που θα εμφανιστεί.</i>
            </div>
            <div *ngIf="searchTerm" class="uk-nav uk-padding-small uk-width-large uk-position-absolute uk-position-z-index"
                 style="background-color: #FFFFFF !important;">
                <ul>
                    <li *ngFor="let delegate of executives | filterByTerm: searchTerm: 'email'">
                        <a (click)="addDelegate(delegate)">
                            {{ delegate.firstname + ' ' + delegate.lastname + ' (' + delegate.email + ')' }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="">
            <!--<label class="uk-form-label" for="firstname_{{ id }}">Όνομα</label>-->
            <div class="">
                <input type="text" placeholder="Όνομα" id="firstname_{{ id }}" class="uk-input"
                       formControlName="firstname" />
            </div>
        </div>
        <div class="">
            <!--<label class="uk-form-label" for="lastname_{{ id }}">Επώνυμο</label>-->
            <div class="">
                <input type="text" placeholder="Επώνυμο" id="lastname_{{ id }}" class="uk-input"
                       formControlName="lastname"/>
            </div>
        </div>
        <div>
            <label class="uk-input" for="hidden_{{ id }}">
                Απόκρυψη ονόματος <input type="checkbox" id="hidden_{{ id }}"
                                         class="uk-checkbox uk-margin-small-left"
                                         formControlName="hidden"/>
            </label>
        </div>
    </div>
</div>