<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
<div *ngIf="!showSpinner && resourceForm" class="uk-width-1-1 uk-margin-bottom">
    <div [formGroup]="resourceForm">
        <div class="uk-margin">
            <label class="uk-form-label" for="id_{{ id }}">Id (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="id_{{ id }}" class="uk-input" formControlName="id"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="name_{{ id }}">Όνομα (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="name_{{ id }}" class="uk-input" formControlName="name"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="acronym_{{ id }}">Ακρώνυμο (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="acronym_{{ id }}" class="uk-input" formControlName="acronym"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="parentProj_{{ id }}">Υποέργο του</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="parentProj_{{ id }}" class="uk-input" formControlName="parentProject"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="startDate_{{ id }}">Ημ/νία έναρξης (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="startDate_{{ id }}" class="uk-input" formControlName="startDate" />
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="endDate_{{ id }}">Ημ/νία ολοκλήρωσης (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="endDate_{{ id }}" class="uk-input" formControlName="endDate"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="totalCost_{{ id }}">Συνολικό κόστος</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <div>
                        <input class="uk-input" type="text" id="totalCost_{{ id }}"
                               formControlName="totalCost" placeholder="0" (keyup)="showAmount()"
                               (focus)="resourceForm.get('totalCost').markAsUntouched()">
                    </div>
                    <div class="uk-comment-body uk-text-small uk-text-muted">
                        <i>Ο δεκαδικός αριθμός θα πρέπει να είναι της μορφής: <b>1111.11</b></i>
                    </div>
                    <div *ngIf="resourceForm.get('totalCost').invalid &&
                                resourceForm.get('totalCost').touched &&
                                resourceForm.get('totalCost').dirty"
                         class="uk-comment-body uk-text-small uk-text-danger">
                        Ο αριθμός δεν είναι έγκυρος.
                    </div>
                    <div *ngIf="totalCostAmount && resourceForm.get('totalCost').valid"
                         class="uk-comment-body uk-text-small uk-text-muted">
                        Το ποσό είναι: {{ totalCostAmount | currency: 'EUR': 'symbol-narrow' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{id}}_inst">Ινστιτούτο/Μονάδα (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <select class="uk-select" id="{{id}}_inst" formControlName="institute">
                        <option value="">-- επιλέξτε ινστιτούτο/μονάδα --</option>
                        <option *ngFor="let inst of institutes" value="{{inst.id}}">{{ inst.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Επιστημονικός Υπεύθυνος (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!scientificCoordinatorFormData">
                    <div>
                        <a class="uk-button-small" (click)="addPOI()">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="scientificCoordinatorFormData" style="border: 1px dotted mediumblue" class="uk-padding-small">
                    <div>
                        <app-edit-poi #scientificCoordinatorForm [id]="id + '_sciCoord'"
                                      [data]="scientificCoordinatorFormData"></app-edit-poi>
                    </div>
                    <div>
                        <label class="custom-form-label uk-margin-small-right" for="sciCoorAsDiat_{{ id }}">Επιθυμεί να δρα ως διατάκτης για ποσά κάτω των €2500</label>
                        <span>
                            <input type="checkbox" id="sciCoorAsDiat_{{ id }}" class="uk-checkbox" formControlName="scientificCoordinatorAsDiataktis"/>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="uk-margin">
            <label class="uk-form-label" for="sciCoorAsDiat_{{ id }}">Θα δρα ως διατάκτης<br>>για μικρά ποσά (< €2500)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="checkbox" id="sciCoorAsDiat_{{ id }}" class="uk-checkbox" formControlName="scientificCoordinatorAsDiataktis"/>
                </div>
            </div>
        </div>-->
        <hr>
        <div class="uk-margin">
            <label class="uk-form-label">Χειριστές (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="operatorFormsData.length > 0" class="uk-margin-small-top">
                    <div *ngFor="let op of operatorFormsData; let i = index;"
                         style="border: 1px dotted mediumblue" class="uk-padding-small">
                        <div>
                            <a class="uk-float-right uk-margin-small-top" uk-icon="icon: close"
                               (click)="removeForm(i, 'operatorFormsData')"></a>
                            <app-edit-poi #operatorForms
                                          [id]="id + '_operator_' + i" [data]="op"></app-edit-poi>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <a class="uk-button-small" (click)="addPOIToList()">
                            <i class="fa fa-plus"></i>
                             Προσθήκη χειριστή
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary" (click)="saveChanges()">Αποθήκευση</button>
        </div>

    </div>
</div>
