<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div *ngIf="!showSpinner && resourceForm" class="uk-width-1-1 uk-margin-bottom">
    <div [formGroup]="resourceForm">
        <div class="uk-margin">
            <label class="uk-form-label" for="id_{{ id }}">Id</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="id_{{ id }}" class="uk-input" formControlName="id"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="name_{{ id }}">Όνομα</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="name_{{ id }}" class="uk-input" formControlName="name"/>
                </div>
            </div>
        </div>
        <!--<div class="uk-card uk-card-body uk-card-basic-info">-->
        <div class="uk-margin">
            <label class="uk-form-label">Πρόεδρος</label>
            <div class="uk-form-controls">
                <div *ngIf="!directorFormData">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('directorFormData')">
                            Προσθήκη προέδρου
                        </a>
                    </div>
                </div>
                <div *ngIf="directorFormData">
                    <div>
                        <app-edit-poi #directorForm [id]="id + '_director'"
                                      [data]="directorFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Αντιπρόεδρος</label>
            <div class="uk-form-controls">
                <div *ngIf="!viceDirectorFormData">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('viceDirectorFormData')">
                            Προσθήκη αντπροέδρου
                        </a>
                    </div>
                </div>
                <div *ngIf="viceDirectorFormData">
                    <div>
                        <app-edit-poi #viceDirectorForm [id]="id + '_viceDirector'"
                                      [data]="viceDirectorFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Προϊστάμενος Οικονομικών Υπηρεσιών</label>
            <div class="uk-form-controls">
                <div *ngIf="!poyFormData">
                    <div class="uk-inline">
                        <a class="uk-button-small" (click)="addPOI('poyFormData')">
                            Προσθήκη προϊσταμένου
                        </a>
                    </div>
                </div>
                <div *ngIf="poyFormData">
                    <div>
                        <app-edit-poi #poyForm [id]="id + '_poy'"
                                      [data]="poyFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Μέλος Διοικητικού Συμβουλίου</label>
            <div class="uk-form-controls">
                <div *ngIf="!dioikitikoSumvoulioFormData">
                    <div>
                        <a class="uk-button-small"
                                (click)="addPOI('dioikitikoSumvoulioFormData')">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="dioikitikoSumvoulioFormData">
                    <div>
                        <app-edit-poi #dioikitikoSumvoulioForm
                                      [id]="id + '_dioikitiko'" [data]="dioikitikoSumvoulioFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Ομάδα Ελέγχου</label>
            <div class="uk-form-controls">
                <div *ngIf="inspectionTeamFormsData.length > 0" class="uk-margin-small-top">
                    <div *ngFor="let insp of inspectionTeamFormsData; let i = index;"
                         style="border: 1px dotted mediumblue" class="uk-padding-small">
                        <div>
                            <a class="uk-float-right uk-margin-small-top" uk-icon="icon: close"
                               (click)="removeForm(i, 'inspectionTeamFormsData')"></a>
                            <app-edit-poi #inspectionTeamForms
                                          [id]="id + '_inspectionTeam_' + i" [data]="insp"></app-edit-poi>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <a class="uk-button-small" (click)="addPOIToList()">
                            <i class="fa fa-plus"></i>
                             Προσθήκη μέλους
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary" (click)="saveChanges()">Αποθήκευση</button>
        </div>

    </div>
</div>
