<div class="uk-margin-bottom uk-margin-top">
    <div class="uk-inline uk-margin-large-right">
        <div>
            <label for="choosePOIRadio_{{id}}">
                <input class="uk-radio" id="choosePOIRadio_{{id}}"
                       type="radio" name="poiChoiceMode_{{id}}" checked
                       (change)="inNewPOIMode(false)">
                Επιλογή από τους ήδη υπάρχοντες
            </label>
        </div>
    </div>
    <div class="uk-inline">
        <div>
            <label for="createNewPOIRadio_{{id}}">
                <input class="uk-radio" id="createNewPOIRadio_{{id}}"
                       type="radio" name="poiChoiceMode_{{id}}"
                       (change)="inNewPOIMode(true)">
                Δημιουργία νέου
            </label>
        </div>
    </div>
</div>
<div *ngIf="resourceForm" class="uk-margin-bottom uk-margin-small-top">
    <div [formGroup]="resourceForm">
        <div>
            <!--<label class="uk-countdown-label" for="email_{{ id }}">Email (*)</label>-->
            <div class="">
                <div class="uk-width-1-1">
                    <input type="email" placeholder="Email (*)" id="email_{{ id }}" class="uk-input"
                           formControlName="email" (keyup)="updateSearchTerm()" />
                    <div *ngIf="!newPOIMode" class="uk-comment-body uk-text-small uk-text-muted">
                        <i>Ξεκινήστε να γράφετε το email του υπευθύνου και επιλέξτε τον από την λίστα που θα εμφανιστεί.</i>
                    </div>
                    <div *ngIf="searchTerm" class="uk-nav uk-padding-small uk-width-large uk-position-absolute uk-position-z-index"
                         style="background-color: #FFFFFF !important;">
                        <ul>
                            <li *ngFor="let poi of executives | filterByTerm: searchTerm: 'email'">
                                <a (click)="addPOI(poi)">
                                    {{ poi.firstname + ' ' + poi.lastname + ' (' + poi.email + ')' }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--<label class="uk-form-label" for="firstname_{{ id }}">Όνομα</label>-->
            <div class="">
                <div class="uk-width-1-1">
                    <input type="text" placeholder="Όνομα" id="firstname_{{ id }}"
                           class="uk-input" formControlName="firstname"/>
                </div>
            </div>
        </div>
        <div>
            <!--<label class="uk-form-label" for="lastname_{{ id }}">Επώνυμο</label>-->
            <div class="">
                <div class="uk-width-1-1">
                    <input type="text" placeholder="Επώνυμο" id="lastname_{{ id }}"
                           class="uk-input" formControlName="lastname"/>
                </div>
            </div>
        </div>
        <div *ngIf="delegateFormsData.length > 0"
             class="uk-padding-small uk-margin-small-top">
            <div class="custom-form-label uk-text-uppercase uk-text-bold">Εκπροσωποι</div>
            <div *ngFor="let delData of delegateFormsData; let i = index;" class="uk-padding"
                 style="border: 1px solid lightgray">
                <div>
                    <!--<label class="uk-form-label">Εκπρόσωπος {{i+1}}</label>-->
                    <a class="uk-float-right uk-margin-small-top" uk-icon="icon: close"
                       (click)="removeForm(i, 'delegateFormsData')"></a>
                </div>
                <div>
                    <app-edit-delegate #delegateForms
                                       [id]="id +'delegates_' + i"
                                       [data]="delData"></app-edit-delegate>
                </div>
            </div>
        </div>
        <div class="uk-margin-small-top">
            <div>
                <a class="uk-button-small" (click)="addDelegate()">
                    <i class="fa fa-plus"></i>
                     Προσθήκη εκπροσώπου
                </a>
            </div>
        </div>
    </div>
</div>