<div *ngIf="resourceForm" class="uk-margin-bottom uk-margin-small-top">
    <div [formGroup]="resourceForm">
        <div>
            <!--<label class="uk-form-label" for="firstname_{{ id }}">Όνομα</label>-->
            <div class="">
                <div class="uk-width-1-1">
                    <input type="text" placeholder="Όνομα" id="firstname_{{ id }}" class="uk-input" formControlName="firstname"/>
                </div>
            </div>
        </div>
        <div>
            <!--<label class="uk-form-label" for="lastname_{{ id }}">Επώνυμο</label>-->
            <div class="">
                <div class="uk-width-1-1">
                    <input type="text" placeholder="Επώνυμο" id="lastname_{{ id }}"
                           class="uk-input" formControlName="lastname"/>
                </div>
            </div>
        </div>
        <div>
            <!--<label class="uk-countdown-label" for="email_{{ id }}">Email (*)</label>-->
            <div class="">
                <div class="uk-width-1-1">
                    <input type="email" placeholder="Email (*)" id="email_{{ id }}" class="uk-input" formControlName="email"/>
                </div>
            </div>
        </div>
        <div *ngIf="delegateFormsData.length > 0"
             class="uk-padding-small uk-margin-small-top"
             style="border: 1px solid lightgray">
            <div class="uk-form-label uk-text-uppercase">Εκπροσωποι</div>
            <div *ngFor="let delData of delegateFormsData; let i = index;">
                <div>
                    <!--<label class="uk-form-label">Εκπρόσωπος {{i+1}}</label>-->
                    <a class="uk-float-right uk-margin-small-top" uk-icon="icon: close"
                       (click)="removeForm(i, 'delegateFormsData')"></a>
                </div>
                <div>
                    <app-edit-delegate #delegateForms
                                       [id]="id +'delegates_' + i"
                                       [data]="delData"></app-edit-delegate>
                </div>
            </div>
        </div>
        <div class="uk-margin-small-top">
            <div>
                <label class="uk-form-label">Προσθήκη εκπροσώπου</label>
            </div>
            <div>
                <div class="uk-width-1-1 uk-grid">
                    <div class="uk-width-expand">
                        <input class="uk-input" value="{{ searchTerm }}"
                               placeholder="Αναζήτηση εκπροσώπου με βάση το email" type="text"
                               (keyup)="updateSearchTerm($event)">
                        <div class="uk-comment-body uk-text-small uk-text-muted">
                            <i>Ξεκινήστε να γράφετε το email του εκπροσώπου και επιλέξτε τον από την λίστα που θα εμφανιστεί.</i>
                        </div>
                        <div *ngIf="searchTerm" class="uk-nav uk-padding-small uk-width-large uk-position-absolute" style="background-color: white">
                            <ul>
                                <li *ngFor="let delegate of delegates | filterByTerm: searchTerm: 'email'">
                                    <a (click)="addDelegate(delegate)">
                                        {{ delegate.firstname + ' ' + delegate.lastname + ' (' + delegate.email + ')' }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-inline">
                        <a class="uk-button-small" (click)="addDelegate()">
                            Δημιουργία νέου
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>