<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
<div *ngIf="!showSpinner && resourceForm" class="uk-width-1-1 uk-margin-bottom">
    <div [formGroup]="resourceForm">
        <div class="uk-margin">
            <label class="uk-form-label" for="id_{{ id }}">Id (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="id_{{ id }}" class="uk-input" formControlName="id"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="name_{{ id }}">Όνομα (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <input type="text" id="name_{{ id }}" class="uk-input" formControlName="name"/>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="{{id}}_org">Οργανισμός (*)</label>
            <div class="uk-form-controls">
                <div class="uk-width-1-1">
                    <select class="uk-select" id="{{id}}_org" formControlName="organization">
                        <option value="">-- επιλέξτε οργανισμό --</option>
                        <option *ngFor="let org of organizations" value="{{org.id}}">{{ org.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Πρόεδρος (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!instDirectorFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('instDirectorFormData')">
                            Προσθήκη προέδρου
                        </a>
                    </div>
                </div>
                <div *ngIf="instDirectorFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #instDirectorForm
                                      [id]="id + '_instDirector'"
                                      [data]="instDirectorFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="uk-margin">
            <label class="uk-form-label uk-text-uppercase">Λογιστηριο</label>
            <div class="uk-form-controls">&nbsp;&nbsp;&nbsp;</div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Διευθυντής (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!accountingDirectorFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('accountingDirectorFormData')">
                            Προσθήκη διευθυντή
                        </a>
                    </div>
                </div>
                <div *ngIf="accountingDirectorFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #accountingDirectorForm
                                      [id]="id + '_accDirector'"
                                      [data]="accountingDirectorFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Υπεύθυνος Καταχώρησης (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!accountingRegistrationFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('accountingRegistrationFormData')">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="accountingRegistrationFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #accountingRegistrationForm
                                      [id]="id + '_accRegistration'"
                                      [data]="accountingRegistrationFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Υπεύθυνος Πληρωμών (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!accountingPaymentFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('accountingPaymentFormData')">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="accountingPaymentFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #accountingPaymentForm [id]="id + '_accPayment'"
                                      [data]="accountingPaymentFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="uk-margin">
            <label class="uk-form-label">Υπεύθυνος Διαύγειας (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!diaugeiaFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('diaugeiaFormData')">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="diaugeiaFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #diaugeiaForm
                                      [id]="id + '_diaugeia'" [data]="diaugeiaFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Υπεύθυνος Γραφείου Προμηθειών (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!suppliesOfficeFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('suppliesOfficeFormData')">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="suppliesOfficeFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #suppliesOfficeForm [id]="id + '_supplies'"
                                      [data]="suppliesOfficeFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Υπεύθυνος Ταξιδίων (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!travelManagerFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('travelManagerFormData')">
                            Προσθήκη υπευθύνου
                        </a>
                    </div>
                </div>
                <div *ngIf="travelManagerFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #travelManagerForm [id]="id + '_travel'"
                                      [data]="travelManagerFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label">Διατάκτης (*)</label>
            <div class="uk-form-controls">
                <div *ngIf="!diataktisFormData" class="uk-width-1-1">
                    <div>
                        <a class="uk-button-small" (click)="addPOI('diataktisFormData')">
                            Προσθήκη διατάκτη
                        </a>
                    </div>
                </div>
                <div *ngIf="diataktisFormData" class="uk-width-1-1">
                    <div>
                        <app-edit-poi #diataktisForm [id]="id + '_diataktis'"
                                      [data]="diataktisFormData"></app-edit-poi>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-margin">
            <button class="uk-button uk-button-primary" (click)="saveChanges()">Αποθήκευση</button>
        </div>

    </div>
</div>
