<div *ngIf="showStage > 0" class="uk-width-1-1 uk-margin-bottom">
    <!--<hr>-->

    <!-- STAGE RESULT DISPLAY -->
    <div *ngIf="showStage > 1" class="uk-form-controls">
        <!--<h5>{{ stageTitle }}</h5>-->
        <div>
            {{ submittedStageResult }}{{ getDelegateName() }}
            στις {{ currentStage['date'] | date : 'dd-MM-yyyy' }}
        </div>

        <!-- display a long text value -->
        <div *ngIf="currentStage['comment']" class="uk-margin-small-top">
            <span class="uk-text-bold uk-margin-small-right">Σχόλια: </span>
            <span> {{ currentStage['comment'] }} </span>
        </div>

        <!-- display link to attachment -->
        <div *ngIf="currentStage['attachment']" class="no-print" data-html2canvas-ignore>
            <a class="uk-link uk-width-1-1@l uk-margin-small-top" (click)="linkToFile()">
                Πατήστε εδώ για να κατεβάσετε τα σχετικά αρχεία
            </a>
        </div>
    </div>
    <!-- END OF STAGE RESULT DISPLAY -->

    <!-- STAGE FORM -->
    <div *ngIf="(showStage === 1) && stageForm" [formGroup]="stageForm" class="uk-form-controls stageForm">
        <h5>{{ stageTitle }}</h5>

        <div *ngIf="stageFormError" class="uk-alert uk-alert-danger">{{ stageFormError }}</div>

        <!-- EXTRA FIELD (if needed) -->
        <div *ngIf="showExtraFields"
             class="uk-grid uk-margin-small-top">

            <label class="uk-width-1-3">Τελικό Ποσό (σε EUR) (*)</label>
            <div class="uk-width-expand">
                <input class="uk-form-controls uk-input"
                       type="text"
                       value="{{ currentRequestInfo.finalAmount }}"
                       (keyup)="showAmount($event)"
                       (blur)="updateAmount($event)">
            </div>
            <div *ngIf="currentRequestInfo.finalAmount && !amountNaN"
                 class="uk-comment-body uk-text-small uk-text-muted">
                Το τελικό ποσό είναι: {{ currentRequestInfo.finalAmount | currency: 'EUR': 'symbol-narrow' }}
            </div>
            <div *ngIf="amountNaN"
                 class="uk-comment-body uk-text-small uk-text-danger">
                Ο αριθμός δεν είναι έγκυρος.
            </div>

        </div>


        <!-- COMMENT FIELD -->
        <app-form-field [description]="commentFieldDesc">
            <textarea formControlName="comment" class="uk-form-controls uk-textarea" rows="2"></textarea>
        </app-form-field>

        <!--ATTACHMENT FIELD-->
        <app-form-upload-file [uploadedFilename]="uploadedFilename" (emitFile)="getAttachmentInput($event)">
        </app-form-upload-file>

        <!--BUTTONS-->
        <button class="uk-button uk-button-primary" (click)="emitNewValuesAndForward()">Υποβολή</button>

        <!--<button class="uk-button uk-button-primary" (click)="approveRequest(false)">Απορρίπτεται</button>-->

        <!-- CURRENT DATE DISPLAY -->
        <div>
            <span class="uk-text-small">Ημερομηνία: {{ getCurrentDateString() }}</span>
        </div>

    </div>
    <!-- END OF STAGE FORM -->

</div>
