/* You can add global styles to this file, and also import other style files */
@import 'assets/css/theme';
@import 'assets/css/theme.update';

.navbar-brand-athena {
  background-image: url('https://www.athena-innovation.gr/sites/all/themes/aohna/images/athena-logo-symbol.svg'),url('https://www.athena-innovation.gr/sites/all/themes/aohna/images/athena-logo-type-el.svg'),url('https://www.athena-innovation.gr/sites/all/themes/aohna/images/athena-logo-blurb-el.svg');
  width: 453px;
  height: 100px;
  top: 12px;
  left: 20px;
}
