<div class="uk-container-expand">
  <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
    <div class="uk-width-1-1@m uk-first-column">
      <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
        <h1 class="uk-heading-bullet">Athena RC Expenses Application</h1>

        <div class="uk-grid">
          <div class=" uk-width-expand@m">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula magna in enim ornare placerat a ac sem. Nulla dignissim erat eget convallis placerat. Duis quis consectetur felis. Integer et tortor urna. Sed eget scelerisque felis, vitae rhoncus lacus. Cras mattis erat id massa ultrices euismod. Nulla a dolor mattis, rhoncus sapien sed, commodo risus. Duis tincidunt imperdiet est, vitae convallis ante auctor in. In hac habitasse platea dictumst. Nunc mi orci, cursus id enim varius, dignissim efficitur lectus. Maecenas tempor commodo sollicitudin. In pharetra velit ut lorem aliquam sodales. Vestibulum consectetur diam sed turpis bibendum varius. Aliquam laoreet posuere augue, vel pharetra felis eleifend id. Proin ut libero id justo luctus scelerisque. Vestibulum consectetur pulvinar dui nec porttitor.

              Vestibulum nulla ex, aliquet vel aliquet non, dapibus nec mi. Sed scelerisque pretium lacus. Nam a tristique lectus, in consectetur ex. In ac mi ut tortor ullamcorper pulvinar. Quisque posuere non quam eget rutrum. Maecenas malesuada aliquet quam at faucibus. In rhoncus mauris tincidunt ultrices viverra. Mauris hendrerit lobortis tempor. Proin et nisi eget mi placerat scelerisque et porttitor odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus pulvinar nisl ut tellus imperdiet, at molestie velit tincidunt. Curabitur. </p>
          </div>
          <div class="tm-sidebar uk-width-1-4@m helpBox">
            <div class="uk-card uk-card-body uk-card-secondary sidemenu">
              <h3>Πληροφορίες / Βοήθεια</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque enim,
                blandit commodo aliquet id, varius ac lorem. Morbi pretium mauris at magna euismod,
                eu malesuada nisi lobortis. Nunc faucibus leo pulvinar ipsum venenatis mattis. Pellentesque
                placerat feugiat maximus. In at ornare leo, vitae gravida mi. Curabitur quis mi
                tincidunt, molestie neque non, ullamcorper elit. Etiam a justo vitae arcu commodo pharetra.
                Nulla quis dolor tellus. Proin massa nibh, euismod et fringilla vitae, finibus nec sapien.
                Donec sit amet dignissim mi. Proin quis suscipit arcu. Nunc laoreet elit orci, sed eleifend
                orci finibus at. Nam vulputate, sem ac efficitur scelerisque, dolor odio accumsan turpis,
                vel gravida dolor ex vel augue. Donec eu libero aliquet, aliquet turpis eu, molestie dui.
                Fusce varius tellus varius scelerisque molestie. Nullam efficitur tortor at ligula
                bibendum dapibus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
