<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h2 uk-heading-bullet uk-padding">{{title}}</h1>

        <!-- TOP HELP CONTENT -->

        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->

                <div class="uk-width-expand@m">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula magna in enim ornare placerat a ac sem. Nulla dignissim erat eget convallis placerat. Duis quis consectetur felis. Integer et tortor urna. Sed eget scelerisque felis, vitae rhoncus lacus. Cras mattis erat id massa ultrices euismod. Nulla a dolor mattis, rhoncus sapien sed, commodo risus. Duis tincidunt imperdiet est, vitae convallis ante auctor in. In hac habitasse platea dictumst. Nunc mi orci, cursus id enim varius, dignissim efficitur lectus. Maecenas tempor commodo sollicitudin. In pharetra velit ut lorem aliquam sodales. Vestibulum consectetur diam sed turpis bibendum varius. Aliquam laoreet posuere augue, vel pharetra felis eleifend id. Proin ut libero id justo luctus scelerisque. Vestibulum consectetur pulvinar dui nec porttitor.

                    Vestibulum nulla ex, aliquet vel aliquet non, dapibus nec mi. Sed scelerisque pretium lacus. Nam a tristique lectus, in consectetur ex. In ac mi ut tortor ullamcorper pulvinar. Quisque posuere non quam eget rutrum. Maecenas malesuada aliquet quam at faucibus. In rhoncus mauris tincidunt ultrices viverra. Mauris hendrerit lobortis tempor. Proin et nisi eget mi placerat scelerisque et porttitor odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus pulvinar nisl ut tellus imperdiet, at molestie velit tincidunt. Curabitur. </p>
                </div>


            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>
