<div class="uk-container-expand">
  <div class="uk-section uk-section-primary">
    <p>
      Primary section!
    </p>
  </div>
  <div class="uk-section uk-section-default">
    <div class="uk-container-expand">
      <div class="tm-header uk-visible@m" uk-header="info">
        <div class="uk-container uk-align-left" style="width: 60%">
          <div class="uk-container uk-align-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula magna in enim ornare placerat a ac sem. Nulla dignissim erat eget convallis placerat. Duis quis consectetur felis. Integer et tortor urna. Sed eget scelerisque felis, vitae rhoncus lacus. Cras mattis erat id massa ultrices euismod. Nulla a dolor mattis, rhoncus sapien sed, commodo risus. Duis tincidunt imperdiet est, vitae convallis ante auctor in. In hac habitasse platea dictumst. Nunc mi orci, cursus id enim varius, dignissim efficitur lectus. Maecenas tempor commodo sollicitudin. In pharetra velit ut lorem aliquam sodales. Vestibulum consectetur diam sed turpis bibendum varius. Aliquam laoreet posuere augue, vel pharetra felis eleifend id. Proin ut libero id justo luctus scelerisque. Vestibulum consectetur pulvinar dui nec porttitor.

              Vestibulum nulla ex, aliquet vel aliquet non, dapibus nec mi. Sed scelerisque pretium lacus. Nam a tristique lectus, in consectetur ex. In ac mi ut tortor ullamcorper pulvinar. Quisque posuere non quam eget rutrum. Maecenas malesuada aliquet quam at faucibus. In rhoncus mauris tincidunt ultrices viverra. Mauris hendrerit lobortis tempor. Proin et nisi eget mi placerat scelerisque et porttitor odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus pulvinar nisl ut tellus imperdiet, at molestie velit tincidunt. Curabitur. </p>
          </div>
        </div>

        <div class="uk-container uk-section-secondary uk-align-right" style="max-width: 20%">
          <div class="uk-comment-primary" style="background: transparent">

            <div class="uk-comment-title">
              <h3>Πληροφορίες</h3>
            </div>
            <div class="uk-comment-body">

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor ut purus ac condimentum. Vestibulum condimentum commodo quam eu eleifend. Ut felis justo, hendrerit at lorem commodo, tristique fermentum risus. Proin feugiat accumsan sagittis. Fusce urna risus, porta in volutpat a, fringilla quis tortor. Donec id ante vel justo hendrerit mattis vitae eget tortor. Duis maximus lectus et sem placerat, a mollis quam mattis. Fusce mollis feugiat purus, vel dapibus nulla dapibus quis. Mauris consequat pellentesque dolor quis scelerisque. Aenean cursus accumsan augue, vel cursus tortor consectetur ut. Vestibulum eu tortor in mi faucibus semper. In tincidunt aliquet lacus, rutrum elementum diam eleifend sed. Curabitur sed ultricies odio. Sed sit amet nunc enim. Mauris eu nibh bibendum, lobortis purus at, tincidunt ipsum.

                Nam aliquet sed mauris eget gravida. Vestibulum lectus ex, rhoncus sit amet leo quis, tincidunt ultricies nunc. Proin ac blandit eros, sed lacinia arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. In iaculis, eros et maximus pretium, augue nisi commodo nibh, eget ultrices metus mauris id lacus. Morbi eu ornare dui. Proin dapibus libero sed lorem vehicula iaculis. Suspendisse rutrum ante eleifend velit sodales, eget laoreet odio efficitur. Morbi quis felis nulla. Duis euismod pulvinar porta. Phasellus a mauris mi. Donec lorem tortor, blandit nec odio in, molestie condimentum neque.

                Curabitur ultrices scelerisque metus vitae lacinia. Vivamus blandit ipsum risus, nec eleifend lorem luctus eu. Aliquam bibendum, nulla a hendrerit sollicitudin, purus urna scelerisque metus, vitae euismod tortor ligula quis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sem sapien, convallis non fermentum id, viverra malesuada est. Donec turpis nulla, tincidunt sed vehicula vel, ultrices vitae magna. Nam malesuada tortor sed suscipit fringilla. Morbi ut rhoncus mauris. Nunc mattis ultricies nisl non finibus. Fusce ante ante, scelerisque nec lobortis ut, posuere sed sem. Quisque metus velit, ullamcorper eu aliquet ac, hendrerit id risus. Suspendisse auctor mi et felis malesuada, id porta massa imperdiet.

                Duis venenatis ultricies libero a sodales. Fusce dictum nisl ac nulla bibendum, ac eleifend tellus interdum. Phasellus at dolor sollicitudin, pulvinar enim hendrerit, tristique risus. Fusce tempor justo congue, pellentesque sapien in, iaculis quam. Suspendisse tellus eros, imperdiet at condimentum eget, sagittis sit amet velit. Vestibulum lorem risus, volutpat ac nisi quis, scelerisque facilisis leo. Duis aliquam placerat nunc eu placerat. Maecenas ut massa tortor.

                Nullam vehicula imperdiet risus, sed posuere est vestibulum non. Proin nec quam est. Nullam vestibulum bibendum orci in maximus. Aenean in maximus arcu. Sed auctor aliquam imperdiet. Vestibulum nec iaculis velit, nec sollicitudin tortor. Nulla vel suscipit libero, eleifend finibus metus. Fusce et enim vitae magna pellentesque porttitor. Ut scelerisque quis magna at auctor. Donec elementum dictum tellus, nec ullamcorper felis mollis sed. Duis sit amet maximus lacus. Nulla facilisi. Praesent purus magna, rutrum rutrum finibus sed, facilisis sed enim. Nullam leo sapien, egestas nec nunc vel, fringilla mattis turpis. Sed ut ipsum felis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-header uk-hidden@m" uk-header="info">
        <div class="uk-section uk-section-secondary">
          <div class="uk-comment-primary" style="background: transparent">
            <div class="uk-comment-title">
              <h3>Πληροφορίες</h3>
            </div>
            <div class="uk-comment-body">

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor ut purus ac condimentum. Vestibulum condimentum commodo quam eu eleifend. Ut felis justo, hendrerit at lorem commodo, tristique fermentum risus. Proin feugiat accumsan sagittis. Fusce urna risus, porta in volutpat a, fringilla quis tortor. Donec id ante vel justo hendrerit mattis vitae eget tortor. Duis maximus lectus et sem placerat, a mollis quam mattis. Fusce mollis feugiat purus, vel dapibus nulla dapibus quis. Mauris consequat pellentesque dolor quis scelerisque. Aenean cursus accumsan augue, vel cursus tortor consectetur ut. Vestibulum eu tortor in mi faucibus semper. In tincidunt aliquet lacus, rutrum elementum diam eleifend sed. Curabitur sed ultricies odio. Sed sit amet nunc enim. Mauris eu nibh bibendum, lobortis purus at, tincidunt ipsum.

                Nam aliquet sed mauris eget gravida. Vestibulum lectus ex, rhoncus sit amet leo quis, tincidunt ultricies nunc. Proin ac blandit eros, sed lacinia arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. In iaculis, eros et maximus pretium, augue nisi commodo nibh, eget ultrices metus mauris id lacus. Morbi eu ornare dui. Proin dapibus libero sed lorem vehicula iaculis. Suspendisse rutrum ante eleifend velit sodales, eget laoreet odio efficitur. Morbi quis felis nulla. Duis euismod pulvinar porta. Phasellus a mauris mi. Donec lorem tortor, blandit nec odio in, molestie condimentum neque.

                Curabitur ultrices scelerisque metus vitae lacinia. Vivamus blandit ipsum risus, nec eleifend lorem luctus eu. Aliquam bibendum, nulla a hendrerit sollicitudin, purus urna scelerisque metus, vitae euismod tortor ligula quis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris sem sapien, convallis non fermentum id, viverra malesuada est. Donec turpis nulla, tincidunt sed vehicula vel, ultrices vitae magna. Nam malesuada tortor sed suscipit fringilla. Morbi ut rhoncus mauris. Nunc mattis ultricies nisl non finibus. Fusce ante ante, scelerisque nec lobortis ut, posuere sed sem. Quisque metus velit, ullamcorper eu aliquet ac, hendrerit id risus. Suspendisse auctor mi et felis malesuada, id porta massa imperdiet.

                Duis venenatis ultricies libero a sodales. Fusce dictum nisl ac nulla bibendum, ac eleifend tellus interdum. Phasellus at dolor sollicitudin, pulvinar enim hendrerit, tristique risus. Fusce tempor justo congue, pellentesque sapien in, iaculis quam. Suspendisse tellus eros, imperdiet at condimentum eget, sagittis sit amet velit. Vestibulum lorem risus, volutpat ac nisi quis, scelerisque facilisis leo. Duis aliquam placerat nunc eu placerat. Maecenas ut massa tortor.

                Nullam vehicula imperdiet risus, sed posuere est vestibulum non. Proin nec quam est. Nullam vestibulum bibendum orci in maximus. Aenean in maximus arcu. Sed auctor aliquam imperdiet. Vestibulum nec iaculis velit, nec sollicitudin tortor. Nulla vel suscipit libero, eleifend finibus metus. Fusce et enim vitae magna pellentesque porttitor. Ut scelerisque quis magna at auctor. Donec elementum dictum tellus, nec ullamcorper felis mollis sed. Duis sit amet maximus lacus. Nulla facilisi. Praesent purus magna, rutrum rutrum finibus sed, facilisis sed enim. Nullam leo sapien, egestas nec nunc vel, fringilla mattis turpis. Sed ut ipsum felis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
